/*!
* jQuery Mobile 1.4.5
* Git HEAD hash: 68e55e78b292634d3991c795f06f5e37a512decc <> Date: Fri Oct 31 2014 17:33:30 UTC
* http://jquerymobile.com
*
* Copyright 2010, 2014 jQuery Foundation, Inc. and othercontributors
* Released under the MIT license.
* http://jquery.org/license
*
*/

/* UI
-----------------------------------------------------------------------------------------------------------*/

.ui-state-error {
	border: 1px solid #cd0a0a !important;
	color: #cd0a0a !important;
	background-color: transparent !important;
	background: transparent !important;
}

.msgError {
	border: none !important;
	font-size: 11px !important;
	color: #A94442 !important;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=number]::-moz-inner-spin-button,
input[type=number]::-moz-outer-spin-button,
input[type=number]::-o-outer-spin-button,
input[type=number]::-o-inner-spin-button {
    -webkit-appearance: none !important;
    -moz-appearance:none !important;
    -o-appearance: none !important;
	margin: 0 !important;
}

input[type=number] {
    -webkit-appearance: textfield;
    -moz-appearance: textfield;
    -o-appearance: textfield;
    margin: 0;
}

textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 50px;
    max-height: 150px;
}

.ui-transparent {
	background-color: transparent !important;
	border-color: transparent !important;
	text-shadow: 0 0 0 0 transparent !important;
	box-shadow: 0 0 0 0 transparent !important;
}

.ui-no-scroll {
	overflow-y:hidden !important;
	overflow-x:hidden !important;
}

.ui-block-right{
	text-align: right !important;
}

.ui-block-center{
	text-align: center !important;
}

.ui-block-left{
	text-align: left !important;
}

.ui-block-middle {
	position: fixed !important;
    top: 50% !important;
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
    /*
    vertical-align:middle;
    display: table-cell;
    */
}

.ui-div-middle {
	position: relative !important;
    top: 50% !important;
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
}

.ui-middle {
	position: absolute !important;
    top: 50% !important;
	width: 100% !important;
	margin: 0 !important;
	padding: 0 !important;
    -webkit-transform: translateY(-50%) !important;
    -ms-transform: translateY(-50%) !important;
    transform: translateY(-50%) !important;
}

.ui-div-center-middle {
    /* Center with known width/height */
    box-sizing: border-box; /* So we don't have to think about border/padding */
    position: fixed;
    left: 50%;
    top: 50%;
    
    /* Center without knowing the width/height */
    width: auto;
    height: auto;
	margin: 0;
	padding: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) !important;
    -ms-transform: translateX(-50%) translateY(-50%) !important;
    transform: translateX(-50%) translateY(-50%) !important;
}

.ui-block-center-middle {
    /* Center with known width/height */
    box-sizing: border-box; /* So we don't have to think about border/padding */
    position: relative;
    left: 50%;
    top: 50%;
    
    /* Center without knowing the width/height */
    width: auto;
    height: auto;
	margin: 0;
	padding: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) !important;
    -ms-transform: translateX(-50%) translateY(-50%) !important;
    transform: translateX(-50%) translateY(-50%) !important;
}

.ui-center-middle {
    /* Center with known width/height */
    box-sizing: border-box; /* So we don't have to think about border/padding */
    position: absolute;
    left: 50%;
    top: 50%;
    
    /* Center without knowing the width/height */
    width: auto;
    height: auto;
	margin: 0;
	padding: 0;
    -webkit-transform: translateX(-50%) translateY(-50%) !important;
    -ms-transform: translateX(-50%) translateY(-50%) !important;
    transform: translateX(-50%) translateY(-50%) !important;
}

.ui-div-middle {
	height: 100%;
}

.ui-div-middle div {
	height: 100%;
	display: table;
	vertical-align: middle;
}

.ui-div-middle div > * {
	height: 100%;
	display: table-cell;
	vertical-align: middle;
}

button > img .ui-icon-btn {
	height: 2.5em !important;
}

.ui-icon-ico {
	height: 2em !important;
}

button > img .ui-icon-logo {
	width: 5em !important;
}