/* CSS Document */
iframe{
/*	position: absolute; */
/*	border:1px solid #ccc;*/
	display:block;

}
.btn.btn-adn {
    display: contents;
}

div.demo blockquote {
	margin:0px;
}
div.demo blockquote blockquote {
	margin:10px;
	margin-left:15px;
}
div.demo blockquote blockquote blockquote {
	margin:10px;
	margin-left:30px;
}
/* body,td,th {
	font-family: Arial, sans-serif;
	font-size: 11px;
	color: #000000;
	text-align: left;
	margin:0px 0px 0px 0px;
} */
/* body {
	background-image:url(../img/1x1.gif)
	color: #333333;
	min-width:955px; /*1024*/
	/* min-height:600px; 768 */
/*	width:1000px;
	text-align:center;
	margin:0 auto;
} */
/*fuentes*/
@font-face {
	font-family: MetaMedium-Italic;
	src: url('../fonts/MtMI.ttf');
}
/*SEPARADORES TRANSPARENTES*/
#separador0{
	clear:both;
	height:0px;
}
#separador5{
	clear:both;
	height:5px;
}
#separador8{
	clear:both;
	height:8px;
}
#separador10{
	clear:both;
	height:10px;
}
#separador15{
	clear:both;
	height:15px;
}
/*ENLACES*/
a {
	/* font-family: Verdana; */
	font-family: Arial, sans-serif;
	font-size: 11px;
	color: #666666;
}
a:link, a:visited, a:active {
	color: #666666;/*#FFF;/*#666666;*/
	text-decoration: none;
}
a:hover {
	text-decoration: underline;
	color: #FF3333;
}
h1 {
	color: #FF0000;
	font-weight:bold;
	font-size:11px;
	text-align:left;
	margin:0px;
	line-height:15px;
}
h2 {
	color: #000099;
	font-weight:bold;
	font-size:11px;
	text-align:left;
	margin:0px;
	line-height:15px;
}
/* h3 {
	color: #666666;
	font-weight:bold;
	font-size:11px;
	text-align:left;
	margin:0px;
	line-height:15px;
} */
/* h4 {
	color: rgb(243, 41, 56);
	border-bottom: 2px solid rgb(243, 41, 56);
	font-weight:bold;
	font-size:12px;
	text-align:left;
	margin:0px;
	line-height:15px;
	margin-bottom: 10px;
} */
/* .panel-heading h4 {
	color: rgb(243, 41, 56);
	border-bottom: 0px solid rgb(243, 41, 56) ;
	font-weight:bold;
	font-size:12px;
	text-align:left;
	margin:0px;
	line-height:15px;
	margin-bottom: 10px;
} */
span.h5 {
	color: #0039A6; /* rgb(243, 41, 56); */
	font-size:11px;
	text-align:left;
	margin:0px;
	line-height:15px;
}
input[type="button"],input[type="submit"],input[type="reset"] {
	/* font-family: Verdana; */
	font-family: Arial, sans-serif;
	font-size: 11px;
	font-weight: normal;
	color: #666666;
	background-color: #CCCCCC;
	border: 1px solid #aaaaaa;
	text-align: center;
	margin-right:5px;
	height:20px;
	width:auto;
	cursor: pointer;
	overflow:visible !important;
	/* overflow:auto; */
	padding-top:1px; /*para que sea 5px, ya que la fuente agrega 4px automaticamente*/
	padding-bottom:3px;/*para que sea 5px, ya que la fuente agrega 2px automaticamente*/
	padding-left:5px;
	padding-right:5px;
}
input[type="button"]:hover,input[type="submit"]:hover,input[type="reset"]:hover {
	color: #ffffff;
	background-color: #FF3333;
	border: 1px solid #dd0000;
}
input[type="button"]:disabled,input[type="submit"]:disabled,input[type="reset"]:disabled {
	border-style:inset;
	color: #999999;
	background-color: #CCCCCC;
	border: 1px inset #aaaaaa;
}
.form-group.col-xs-12.pull-right {
    margin-right: -265px;
}
/*input[type="button"]:focus,input[type="submit"]:focus,input[type="reset"]:focus {
	color: #ffffff;
	background-color: #FF3333;
	border: 1px solid #dd0000;
}*/
/* input[type="text"] {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	font-size: 11px;
	font-family:Verdana;
	color: #666666;
	padding-left:5px;
	height: 15px;
	vertical-align:baseline;
	white-space: nowrap;
} jorge 2020*/
/* input[type="text"]:disabled {
	background-color:#fafafa;
	color: #CCCCCC;
} jorge 2020*/
/* input[type="password"] {
	background-color: #FFFFFF;
	border: 1px solid #999999;
	font-size: 11px;
	/* font-family:Verdana; */
/*	font-family: Arial, sans-serif;
	color: #666666;
	padding-left:5px;
	height: 15px;
	vertical-align:baseline;
	white-space: nowrap;
} jorge 2020*/
/* input[type="password"]:disabled {
	background-color:#fafafa;
	color: #CCCCCC;
}jorge 2020 */
select{
	background-color: #FFFFFF;
	border: 1px solid #999999;
	font-size: 11px;
	/* font-family:Verdana; */
	font-family: Arial, sans-serif;
	color: #666666;
	vertical-align: text-bottom;
	white-space: nowrap;
	min-height: 18px;
	/* min-width: 200px;
    max-width: 450px; */
    max-width: auto;
    min-width: auto;
}
select.limitHeigth {
	max-width:350px;
}
select.limit {
	max-width:199px;
}
select.combop {
	max-width:56px;
	min-width:56px;
}
select.comboa {
	max-width:156px;
	min-width:156px;
	margin-bottom:45px;
}
select:disabled {
	background-color:#fafafa;
	color: #CCCCCC;
}
select[multiple="multiple"],select[multiple=""],select[multiple="true"]{
	height:auto;
}
select[multiple="multiple"]:disabled ,select[multiple=""]:disabled ,select[multiple="true"]:disabled {
	background-color:#fafafa;
	color: #CCCCCC;
}
option[selected] {
	background-color:#FFF;
	color:#003399;
}
label {
	font-size: 11px;
	padding-top: 0px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 0x;/*7*/
	white-space: nowrap;
	color: #666666;
	font-weight: bold;
}
label > h4 {
	font-size: 11px;
	padding-top: 0px;
	padding-right: 4px;
	padding-bottom: 0px;
	padding-left: 0x;/*7*/
	white-space: nowrap;
	color: #666666;
	font-weight: bold;
}
label h5 strong {
	color: #0039A6; /* rgb(243, 41, 56); */
    /* font-size:11px; */
    margin-top: -10px !important;
	text-align:left;
	margin:0px;
	line-height:15px;
}
textarea {
	background-color:#FFFFFF;
	border:1px solid #999999;
	color:#000000;
	/* font-family:Verdana; */
	font-family: Arial, sans-serif;
	font-size:11px;
	padding:0px 5px;
}
hr {
	height:1px;
	color:#CCCCCC;
}
img {
	border-width:0px;
}
/*INPUT FILE*/
input[type="file"] {
	border:1px solid #999999;
	width:100%;
}
/*FILEDSET*/
fieldset {
	border:1px solid #999999;
	white-space: nowrap;
	padding:5px 5px 5px 5px;
	margin-left:0px;
}
fieldset legend {
	margin:0px 5px 0px 3px;
	font-weight:bold;
	color:#FF3333;
}
fieldset p{
	color:#666666;
	margin:0px;
	padding:5px 10px 10px 5px;
	white-space:normal;
}
/*CHECKBOX*/
span[name*="checkbox"] {
	text-align:left;
}
fieldset[name*="checkboxgroup"] {
	border:1px solid #999999;
	white-space: nowrap;
	padding:5px 5px 5px 5px;
	margin-left:0px;
}
fieldset[name*="checkboxgroup"] legend {
	margin:0px 5px 0px 3px;
	font-weight:bold;
	color:#FF3333;
}
fieldset[name*="checkboxgroup"] p{
	color:#666666;
	margin:0px;
	padding:5px 10px 10px 5px;
	white-space:normal;
}
fieldset[name*="checkboxgroup"] span[name*="checkbox"] {
	border-width:0px;
	padding:0px 0px 0px 5px;
}
span[name*="checkbox"] {
	padding:0px;
	margin:0px;
}
span[name*="checkbox"] input[type="checkbox"] {
	margin:0px 0px 5px 0px;
}
span[name*="checkbox"] label {
	font-size: 11px;
	padding:0px;
	white-space: nowrap;
	color: #666666;
	font-weight: normal;
}
input[type="checkbox"] {
	border-width:0px;
	padding:0px;
	margin:0px;
}
/*RADIOBUTTON*/
span[name*="radiobutton"] {
	text-align:left;
}
fieldset[name*="radiobuttongroup"] {
	border:1px solid #999999;
	white-space: nowrap;
	padding:5px 5px 5px 5px;
	margin-left:0px;
}
fieldset[name*="radiobuttongroup"] legend {
	margin:0px 5px 0px 3px;
	font-weight:bold;
	color:#FF3333;
}
fieldset[name*="radiobuttongroup"] p{
	color:#666666;
	margin:0px;
	padding:5px 10px 10px 5px;
	white-space:normal;
}
fieldset[name*="radiobuttongroup"] span[name*="radiobutton"] {
	border-width:0px;
	padding:0px 0px 0px 5px;
}
span[name*="radiobutton"] {
	padding:0px;
	margin:0px;
}
span[name*="radiobutton"] input[type="radio"] {
	margin:0px 0px 5px 0px;
}
span[name*="radiobutton"] label {
	font-size: 11px;
	padding:0px;
	white-space: nowrap;
	color: #666666;
	font-weight: normal;
}
input[type="radio"] {
	border-width:0px;
	padding:0px;
	margin:0px;
}
/*----*/
label.req {
	color:#FF0033;
	padding:0px;
}
span.req {
	color:#FF0033;
	padding:0px;
}
/*----*/
a.help:link, a.help:visited, a.help:active {
	color: #FF3333;
	text-decoration: none;
	font-weight:bold;
}
a.help:hover {
	text-decoration: none;
	color: #666666;
	font-weight:bold;
}
.link {
	list-style-position: outside;
	list-style-image: url(../images/separator.gif);
	list-style-type: none;
}
/* TOOLTIP*/
#tooltip {
	position: absolute;
	z-index: 3000;
	background-color: #FFFFE1;
	border: 1px solid #CCCCCC;
	color: #666666;
	padding: 4px;
	opacity: 0.85;
}
#tooltip h3, #tooltip div { margin: 0; }
#tooltip h3 {
	color: #666666;
	font-weight:normal;
}
code {
	white-space: pre;
	/* font-family: "Verdana"; */
	font-family: Arial, sans-serif;
	margin: 10px;
}
pre {
	margin:0px 20px;
}
strong{
	color:#666666;
}
[id*="outputText_"]:after
{
color: #ff0000;
content:"*";
}
li.lista{
list-style-image: url("../images/bullet_punto.gif");
}
div#load-ajax {
	display: none;
	position: fixed;
	top: 45%;
	left: 0%;
	width: 100%;
	height: 3%;
	background-color: transparent;
	z-index:1002;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}
div#load-ajax img {
	display: none;
	background-color: transparent;
}
div#load-ajax div#progressbar {
	display: none;
	background-color: #FF3333;
	border-color: 1px black solid;
	/* background-image:url(../images/1x1.gif); */
	-webkit-border-radius: 1em 1em 1em 1em;
	-moz-border-radius: 1em 1em 1em 1em;
	border-radius: 1em 1em 1em 1em;
	height:16px;
	width: 300px;
}
div#load-ajax div#background-ajax {
	position: fixed;
	top: 0%;
	left: 0%;
	width: 100%;
	height: 100%;
	background-color: black;
	z-index:1002;
	-moz-opacity: 0.1;
	opacity:.10;
	filter: alpha(opacity=10);
}
.ui-progressbar .ui-progressbar-value {
	background-color: red;
	/* background-image:url(../images/1x1.gif); */
	height: 15px;
}
/* ------------------------- */
/* POPUP */
/* ------------------------- */

.overlaye {
	background: rgba(0,0,0,.3);
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	align-items: center;
	justify-content: center;
	display: flex;
	visibility: visible;
}

#cerr {
	display: none;
}
#cerr +label {
	position: absolute;
	color: #fff;
	font-size: 25px;
	z-index: 50;
	background: darkred;
    height: 40px;
    width: 40px;
    line-height: 40px;
    border-radius: 50px;
    /*right: 10px;*/
    cursor: pointer;
}
#cerrar-popup:click +label, #cerrar-popup:click ~ .overlaye{
    display: none;

}
.overlaye.active {
	visibility: hidden;
	display: none;
}

.popup {
	background: transparent;
	/*box-shadow: 0px 0px 5px 0px rgba(0,0,0,0.3);*/
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	padding: 20px;
	text-align: center;
	width: 1290px;

	transition: .3s ease all;
	transform: scale(0.7);
	opacity: 1;
}

.popup .btn-cerrar-popup {
	font-size: 16px;
	line-height: 16px;
	display: block;
	text-align: right;
	transition: .3s ease all;
	color: #BBBBBB;
}

.popup .btn-cerrar-popup:hover {
	color: #000;
}
#cbtn-close-popup:click +div, #btn-close-popup:click ~ .overlaye{
    display: none;

}

.popup h3 {
	font-size: 36px;
	font-weight: 600;
	margin-bottom: 10px;
	opacity: 1;
}

.popup img {

	font-size: 26px;
	font-weight: 300;
	margin-bottom: 10px;
	opacity: 1;
}

.popup form .contenedor-inputs {
	opacity: 1;
}

.popup form .contenedor-inputs input {
	width: 100%;
	margin-bottom: 20px;
	height: 52px;
	font-size: 18px;
	line-height: 52px;
	text-align: center;
	border: 1px solid #BBBBBB;
}

.popup form .btn-submit {
	padding: 0 20px;
	height: 40px;
	line-height: 40px;
	border: none;
	color: #fff;
	background: #5E7DE3;
	border-radius: 3px;
	font-family: 'Montserrat', sans-serif;
	font-size: 16px;
	cursor: pointer;
	transition: .3s ease all;
}

.popup form .btn-submit:hover {
	background: rgba(94,125,227, .9);
}

/* ------------------------- */
/* ANIMACIONES */
/* ------------------------- */
.popup.active {	display: none; opacity: 0; }
.popup.active h3 { animation: entradaTitulo .8s ease .5s forwards; }
.popup.active h4 { animation: entradaSubtitulo .8s ease .5s forwards; }
.popup.active .contenedor-inputs { animation: entradaInputs 1s linear 1s forwards; }

@keyframes entradaTitulo {
	from {
		opacity: 0;
		transform: translateY(-25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaSubtitulo {
	from {
		opacity: 0;
		transform: translateY(25px);
	}

	to {
		transform: translateY(0);
		opacity: 1;
	}
}

@keyframes entradaInputs {
	from { opacity: 0; }
	to { opacity: 1; }
}

@media (max-width: 767px){

	.popup img {
		width: 600px;
		height: 450px;
	}
}
@media (max-width: 991px) and (max-width: 768px){

	.popup img {
		width: 800px !important;
		height: 600px !important;
	}
}
@media (max-width: 1199px) and (max-width: 992px){

	.popup img {
		width: 100vh;
		height: 750vw;
	}
}
.alert-danger {
    color: #ED2939;
    background-color:white;
    border-color: #ebccd1;
}

.col-xs-1.mas {
            margin-right: 1px !important;
        margin-left: 1px !important;
        width: 12% !important;
}

#firstlist , #secondlist{
    width: 90px;
        height: 80px;
}
