/*CABECERA*/
#pre-cabecera {
	background-image:url(../img/cabezal_bolivariano_2.jpg);
	background-repeat: x-repeat;
	background-position: top right;
	height:65px;
}
#pre-cabecera::before {
	content:url(../img/cabezal_bolivariano_1.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	height:65px;
}
#pre-cabecera2 {
	background-image:url(../img/cabezal_bolivariano_cantv_blank.jpg);
	background-repeat: x-repeat;
	background-position: top right;
	height:65px;
}
#pre-cabecera2 div {
	background-image:url(../img/cabezal_bolivariano_cantv_2.jpg);
	background-repeat: no-repeat;
	background-position: top right;
	height:65px;
}
#pre-cabecera2 div div {
	background-image:url(../img/cabezal_bolivariano_cantv_1.jpg);
	background-repeat: no-repeat;
	background-position: top left;
	height:65px;
}
#cabecera{
	width:100%;
	height:75px;
	position:relative;
}
#logo{
	float:left;
	width:20%;
	height:71px;

	background-image:url(../img/logo.gif);
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-bottom:4px;
}
#app{
	float:right;
	width:79%;
	text-align:right;
	color:#FF3333;
	font-family:MetaMedium-Italic;
	font-size:20px;
	font-weight:bold;
	padding-right:5px;
	height:25px;
}
#cabecera #appimg{
	float:right;
	width:79%;
	text-align:right;
	margin-right:5px;
	height:90px;
	background-image:url(../img/1p-titulo.jpg);

	background-position:right;
	background-repeat:no-repeat;
}
#menu{
	float:right;
	width:79%;
	text-align:right;
	font-weight:bold;
	color:#666;
	padding-top:5px;
	padding-right:5px;
	font-size:10px;
	height:15px;
}
#user{
	float:right;
	width:79%;
	text-align:right;
	font-weight:bold;
	color:#666;
	padding-top:5px;
	padding-right:5px;
	font-size:10px;
	height:15px;
}
#user::before{
	text-align:left;
	font-weight:bold;
	color:#003399;
	content:"bienvenido";
	margin-right:5px;
}
#tools {
	float:right;
	width:79%;
	padding-top:5px;
	padding-right:5px;
	height:25px;
}
/*#titulo h3{
    /*margin-top: 8px;*/
    
/*    margin-left: 350px;
    font-family: "MetaBoldLF-Roman";
	color: #666;


    font-size: 24px;*/
/*}*/
#tools ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	float:right;
	margin:0px;
	text-align:right;
}
#tools li {
	width:auto;
	float:right;
	text-align:right;
}
#tools li a{
	display:inline-table;
	margin:0 0 0 10px;
	padding:5px 0 5px 10px;
	text-align:right;
	height:15px;
	background-attachment:scroll;
	background-color: transparent;
	background-image: url(../img/separator.gif);
	background-repeat: no-repeat;
	background-position: left center;
}