.col-xs-5t,
.col-sm-5t,
.col-md-5t,
.col-lg-5t {
    position: relative;
    min-height: 1px;
    padding-right: 15px;
    padding-left: 15px
}
.btn-primary {
    color: #666;
    background-color: #ccc;
    border-color: #ccc;
}
.col-xs-5t {
    width: 20%;
    float: left
}
@media screen and (min-width: 768px) {
    .col-sm-5t {
        width: 20%;
        float: left
    }
}
@media screen and (min-width: 992px) {
    .col-md-5t {
        width: 20%;
        float: left
    }
}
@font-face {
    font-family: "MetaBoldLF-Roman";
    font-style: normal;
    font-weight: bold;
    src: url("../fonts/MtBdRF__.ttf") format("truetype");
}
h3 {
    font-family:"MetaBoldLF-Roman";
	color: #666;
}

a {
    color: #1e498f;
    -webkit-transition: all .25s ease-out;
    transition: all .25s ease-out
}
.row {
    margin-bottom: 30px
}
.icon-container:before {
    content: " ";
    background: url(../img/icons.png) no-repeat left top;
    display: inline-block
}
.block .block-title {
    color: #1442a2;
    font-size: 16px;
    font-weight: 700;
    line-height: 1em;
    border-bottom: 2px solid #fad000;
    margin: 0 0 15px 0;
    padding-bottom: 10px
}
.block.well {
    background: none;
    -webkit-box-shadow: none;
    box-shadow: none
}
.block.well .block-title {
    margin: -5px -20px 15px 0
}
.block.block-gray {
    background: #f1f4f6;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    padding: 15px 20px
}
.block.block-menu .nav {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 14px
}
.block.block-menu .nav li {
    padding-top: 10px
}
.block.block-menu .nav li:first-child {
    padding-top: 0
}
.block.block-menu .nav li a {
    background: url(../img/pointer-arrow-small.png) no-repeat left 5px;
    margin: 0;
    padding: 0 0 0 18px
}
.block.block-menu .nav li a:hover {
    text-decoration: underline
}
.banner-block {
    text-align: center
}
.banner-block img {
    display: block;
    max-width: 100%;
    height: auto;
    -ms-interpolation-mode: bicubic;
    display: inline-block
}
.redes-sociales-float {
    display: none
}
#back-to-top {
    background: url(../img/bg-trns-black-30.png) no-repeat center;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    position: fixed;
    right: 0;
    bottom: 0;
    z-index: 99;
    display: none
}
#back-to-top:hover {
    background: #1442a2
}
#back-to-top a {
    text-decoration: none;
    background: url(../img/icons.png) no-repeat center -340px;
    border: 0 none;
    width: 42px;
    height: 40px;
    display: block
}
@media screen and (max-width: 767px) {
    .banner-block {
        margin-bottom: 30px
    }
}
@media screen and (min-width: 768px) {
    .row {
        margin-bottom: 30px
    }
    .block.block-menu .nav {
        font-size: 12px
    }
    .block.block-menu .nav li a {
        background-position: left 4px
    }
    .redes-sociales-float {
        display: block;
        position: fixed;
        bottom: 0;
        left: 0;
        z-index: 99
    }
    .redes-sociales-float ul {
        background: #ebeced;
        border: 1px solid #fff;
        list-style: none;
        margin: 0;
        padding: 8px
    }
    .redes-sociales-float ul li a {
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
        background: url(../img/icons.png) no-repeat left top;
        border: 1px solid #fff;
        width: 30px;
        height: 30px;
        display: block;
        overflow: hidden
    }
    .redes-sociales-float ul li a.twitter {
        background-position: left -220px
    }
    .redes-sociales-float ul li a.facebook {
        background-position: left -250px
    }
    .redes-sociales-float ul li a.googleplus {
        background-position: left -280px
    }
    .redes-sociales-float ul li a.youtube {
        background-position: left -310px
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .redes-sociales-float ul {
        border-bottom: none;
        -webkit-border-top-right-radius: 5px;
        -moz-border-radius-topright: 5px;
        border-top-right-radius: 5px;
        -webkit-border-top-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        border-top-left-radius: 5px
    }
    .redes-sociales-float ul li {
        margin-left: 10px;
        display: inline-block;
        vertical-align: bottom
    }
    .redes-sociales-float ul li:first-child {
        margin-left: 0
    }
    #back-to-top {
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        right: 10px;
        bottom: 10px
    }
}
@media screen and (min-width: 992px) {
    .block .block-title {
        font-size: 18px
    }
    .block.block-menu .nav {
        font-size: 13px
    }
    .block.block-menu .nav li {
        padding-top: 5px
    }
    .block.block-menu .nav li a {
        background-position: left 5px
    }
    .redes-sociales-float {
        margin-top: -83px;
        top: 50%;
        right: 0;
        left: auto
    }
    .redes-sociales-float ul {
        border-right: none;
        border-left: 1px solid #fff;
        -webkit-border-top-right-radius: 0;
        -moz-border-radius-topright: 0;
        border-top-right-radius: 0;
        -webkit-border-bottom-right-radius: 0;
        -moz-border-radius-bottomright: 0;
        border-bottom-right-radius: 0;
        -webkit-border-top-left-radius: 5px;
        -moz-border-radius-topleft: 5px;
        border-top-left-radius: 5px;
        -webkit-border-bottom-left-radius: 5px;
        -moz-border-radius-bottomleft: 5px;
        border-bottom-left-radius: 5px
    }
    .redes-sociales-float ul li {
        margin-top: 10px
    }
    .redes-sociales-float ul li:first-child {
        margin-top: 0
    }
    #back-to-top {
        display: none !important
    }
}
.form-control {
    -webkit-box-shadow: none;
    box-shadow: none
}
.form-control:focus {
    border-color: #bbb;
    -webkit-box-shadow: none;
    box-shadow: none
}
.carousel.fade {
    opacity: 1
}
.carousel.fade .item {
    width: 100%;
    height: 100%;
    display: block !important;
    position: absolute;
    top: 0;
    left: 0;
    -webkit-transition: opacity ease-in-out .8s;
    transition: opacity ease-in-out .8s;
    opacity: 0;
    filter: alpha(opacity=0)
}
.carousel.fade .item.active {
    position: relative;
    z-index: 1;
    top: auto;
    opacity: 1;
    filter: alpha(opacity=100)
}
.carousel-control {
    text-shadow: none;
    z-index: 3
}
.carousel-control.left,
.carousel-control.right {
    background: none
}
.carousel-control a {
    outline-width: 0;
    outline-style: none
}
.panel-group .panel {
    border: none;
    -webkit-box-shadow: none;
    box-shadow: none
}
.panel-group .panel-heading {
    border-top: none;
    padding: 0
}
.panel-group .panel-heading a {
    color: #111;
    font-size: 16px;
    text-decoration: none;
    letter-spacing: -0.025em;
    background-color: #ebeced;
    background-image: -webkit-linear-gradient(top, #f4f4f4 0, #dfdfdf 100%);
    background-image: linear-gradient(to bottom, #f4f4f4 0, #dfdfdf 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4', endColorstr='#ffdfdfdf', GradientType=0);
    padding: 8px 16px;
    display: block
}
.panel-group .panel-heading a:before {
    background-position: left top;
    width: 16px;
    height: 16px;
    margin-right: 0;
    vertical-align: 0
}
.panel-group .panel-heading a:before {
    margin-top: 4px;
    float: right
}
.panel-group .panel-heading a:hover,
.panel-group .panel-heading a:active,
.panel-group .panel-heading a:focus {
    background-color: #ebeced;
    background-image: -webkit-linear-gradient(top, #f1f4f6 0, #d6d6d6 100%);
    background-image: linear-gradient(to bottom, #f1f4f6 0, #d6d6d6 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff1f4f6', endColorstr='#ffd6d6d6', GradientType=0)
}
.panel-group .panel-heading+.panel-collapse .panel-body {
    border-top-color: #ccc
}
.panel-group .panel-body {
    background-color: #f1f4f6;
    padding: 0 15px
}
.panel-group .panel-body .nav li {
    border-top: 1px dotted #dedfe1
}
.panel-group .panel-body .nav li:first-child {
    border-top: none
}
.panel-group .panel-body .nav li a {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 14px;
    background: url(../img/pointer-arrow-gray.png) no-repeat left center;
    padding: 12px 0 12px 14px
}
.popover {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    font-size: 13px;
    line-height: 1.35em;
    background-color: #f1f4f6;
    background-image: -webkit-linear-gradient(top, #f1f4f6 0, #ebeced 100%);
    background-image: linear-gradient(to bottom, #f1f4f6 0, #ebeced 100%);
    background-repeat: repeat-x;
    filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff1f4f6', endColorstr='#ffebeced', GradientType=0);
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px
}
.popover .popover-content {
    padding: 12px 15px
}
.popover.left>.arrow:after {
    border-left-color: #f2f2f3
}
@media screen and (min-width: 768px) {
    .panel-group .panel-heading a {
        font-size: 15px;
        padding: 6px 10px
    }
    .panel-group .panel-heading a:before {
        margin-top: 2px
    }
    .panel-group .panel-body .nav li a {
        font-size: 12px;
        padding-top: 10px;
        padding-bottom: 10px
    }
}
.main-header {
    margin-right: -15px;
    margin-left: -15px;
    margin-bottom: 20px
}
.barra-gbv {
    display: none
}
.header-top {
    color: #fff;
    font-size: 12px;
    line-height: 16px;
    background: url(../img/Cintillo2020.png) no-repeat -360px center;
    /*border-bottom: 2px solid #fad000;*/
    padding: 10px 15px;
    position: relative
}
.header-top:before,
.header-top:after {
    content: " ";
    display: table
}
.header-top:after {
    clear: both
}
.header-top a {
    color: #fff
}
.header-top .cero-800 {
    display: none
}
.header-top .user-account {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    float: left
}
.header-top .user-account a {
    line-height: 16px;
    border-left: 1px solid #fff;
    margin-left: 8px;
    padding-left: 8px;
    display: inline-block;
    vertical-align: bottom
}
.header-top .user-account a:first-child {
    border-left: none;
    margin-left: 0
}
.header-top .user-account a.user-login {
    max-width: 16em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis
}
.header-top .user-account a.user-login:before {
    background-position: -16px -16px;
    width: 16px;
    height: 16px;
    margin-right: 5px;
    vertical-align: -4px
}
.header-top .link-toggle-search {
    display: none
}
.header-top .link-contacto a {
    font-family: Verdana, Tahoma, Arial, sans-serif;
    float: right
}
.header-top .link-contacto a:before {
    background-position: -16px top;
    width: 16px;
    height: 16px;
    margin-right: 6px;
    vertical-align: -4px
}
#nav.navbar {
    border: none;
    border-bottom: 1px solid #e9e9e9;
    margin: 0;
    padding: 0
}
#nav.navbar .navbar-toggle {
    background: url(../img/icons.png) no-repeat 3px -32px;
    width: 46px;
    height: 40px;
    border: none;
    margin: 0;
    padding: 0;
    opacity: .5;
    filter: alpha(opacity=50)
}
#nav.navbar .navbar-toggle:hover,
#nav.navbar .navbar-toggle:active,
#nav.navbar .navbar-toggle:focus {
    opacity: 1;
    filter: alpha(opacity=100)
}
#nav.navbar .navbar-toggle.toggle-search {
    background-position: 3px -72px;
    margin-right: 10px
}
#nav.navbar .navbar-collapse {
    border: none;
    margin: 0;
    padding: 0
}
#nav.navbar .navbar-brand {
    height: auto;
    margin: 0;
    padding: 0
}
#nav.navbar .navbar-brand img {
    width: auto
}
#nav.navbar .navbar-form {
    border: none;
    margin: 0 !important;
    padding: 0
}
#nav.navbar .nav-tabs li a {
    background: none;
    padding: 0;
    margin: 0
}
#nav.navbar .nav-tabs li a:hover,
#nav.navbar .nav-tabs li a:active,
#nav.navbar .nav-tabs li a:focus {
    outline-width: 0;
    outline-style: none
}
#nav.navbar .tab-content ul {
    list-style: none;
    margin: 0;
    padding: 0
}
#nav.navbar .main-menu a {
    color: #111;
    text-decoration: none
}
@media screen and (max-width: 767px) {
    .navbar-header {
        background-color: #fdfefe;
        background-image: -webkit-linear-gradient(top, #fff 0, #f0f2f4 100%);
        background-image: linear-gradient(to bottom, #fff 0, #f0f2f4 100%);
        background-repeat: repeat-x;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f2f4', GradientType=0);
        padding: 10px 15px
    }
    #nav.navbar {
        background: #f0f2f4
    }
    
    #nav.navbar .navbar-brand img {
        width: auto;
        height: 40px
    }
    #nav.navbar .navbar-collapse {
        border-top: 1px solid #dedfe0;
        margin: 0
    }
    #nav.navbar .search-bar form {
        border-top: 1px solid #fff;
        padding: 10px 15px
    }
    #nav.navbar .search-bar form .btn {
        font-weight: 700;
        text-shadow: 0 1px 0 #fff;
        background-color: #fdfefe;
        background-image: -webkit-linear-gradient(top, #fff 0, #e8e8e8 100%);
        background-image: linear-gradient(to bottom, #fff 0, #e8e8e8 100%);
        background-repeat: repeat-x;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e8e8', GradientType=0);
        z-index: 2
    }
    #nav.navbar .nav-tabs {
        font-size: 0;
        border: none;
        border-top: 1px solid #fff;
        display: table;
        width: 100%
    }
    #nav.navbar .nav-tabs li {
        text-align: center;
        background-color: #dedfe0;
        background-image: -webkit-linear-gradient(top, #dedfe0 0, #e6e7e8 100%);
        background-image: linear-gradient(to bottom, #dedfe0 0, #e6e7e8 100%);
        background-repeat: repeat-x;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffdedfe0', endColorstr='#ffe6e7e8', GradientType=0);
        border: none;
        border-right: 1px solid #d5d7d8;
        border-left: 1px solid #f1f2f2;
        border-bottom: 1px solid #dedfe0;
        padding: 0 10px;
        display: table-cell;
        float: none
    }
    #nav.navbar .nav-tabs li a {
        font-size: 16px;
        font-weight: 700;
        text-shadow: 0 1px 0 #fff;
        letter-spacing: -0.025em;
        border: none;
        padding: 15px 0;
        -webkit-border-radius: 0;
        -moz-border-radius: 0;
        border-radius: 0;
        opacity: .5;
        filter: alpha(opacity=50)
    }
    #nav.navbar .nav-tabs li a:before {
        width: 24px;
        height: 24px;
        display: block;
        margin: 0 auto
    }
    #nav.navbar .nav-tabs li a:hover,
    #nav.navbar .nav-tabs li a:active,
    #nav.navbar .nav-tabs li a:focus {
        border: none
    }
    #nav.navbar .nav-tabs li a:hover,
    #nav.navbar .nav-tabs li a:active,
    #nav.navbar .nav-tabs li a:focus {
        color: #111;
        background: none;
        border: none
    }
    #nav.navbar .nav-tabs li:first-child {
        border-left: none
    }
    #nav.navbar .nav-tabs li:last-child {
        border-right: none
    }
    #nav.navbar .nav-tabs li:hover a,
    #nav.navbar .nav-tabs li.active a {
        color: #111;
        opacity: 1;
        filter: alpha(opacity=100)
    }
    #nav.navbar .nav-tabs li.active {
        background-color: #f0f2f4;
        background-image: -webkit-linear-gradient(top, #fff 0, #f0f2f4 100%);
        background-image: linear-gradient(to bottom, #fff 0, #f0f2f4 100%);
        background-repeat: repeat-x;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f2f4', GradientType=0);
        border-bottom: 2px solid #f0f2f4;
        margin-bottom: -2px
    }
    #nav.navbar .tab-content ul {
        background: #f0f2f4;
        padding: 0 20px
    }
    #nav.navbar .tab-content ul li {
        border-top: 1px solid #fff;
        border-bottom: 1px solid #e5e8eb
    }
    #nav.navbar .tab-content ul li:first-child {
        border-top: none
    }
    #nav.navbar .tab-content ul li:last-child {
        border-bottom: none
    }
    #nav.navbar .tab-content ul li a {
        font-size: 18px;
        text-shadow: 0 1px 0 #fff;
        padding: 10px 5px;
        display: block
    }
}
@media screen and (max-width: 480px) {
    .header-top .link-contacto a {
        text-indent: -999em;
        background: url(../img/icons.png) no-repeat -16px top;
        width: 16px;
        height: 16px;
        padding: 0
    }
    .header-top .link-contacto a:before {
        display: none
    }
}
@media screen and (min-width: 768px) {
    .main-header {
        margin: 0 0 40px 0
    }
    .barra-gbv {
        padding: 10px 0 7px 0;
        display: block
    }
    .barra-gbv:before,
    .barra-gbv:after {
        content: " ";
        display: table
    }
    .barra-gbv:after {
        clear: both
    }
    .barra-gbv img {
        display: block;
        max-width: 100%;
        height: auto;
        -ms-interpolation-mode: bicubic
    }
    .barra-gbv .logo-gbv {
        max-width: 50%;
        float: left
    }
    .logo-gbv2{
        max-width:50%;
        float:right;
    }
    .barra-gbv .logo-id {
        float: right
    }
    .header-top {
        font-size: 11px;
        background-position: -195px center;
        padding-top: 20px;
        padding-bottom: 7px
    }
    .header-top .cero-800 {
        font-size: 13px;
        float: left;
        display: block
    }
    .header-top .cero-800:before {
        background-position: left -16px;
        width: 16px;
        height: 16px;
        margin-right: 6px;
        vertical-align: -3px
    }
    .header-top .cero-800 em {
        font-weight: 700;
        font-style: normal
    }
    .header-top .user-account {
        float: right
    }
    .header-top .user-account a.user-login {
        max-width: 12em
    }
    #nav.navbar {
        background-color: #fdfefe;
        background-image: -webkit-linear-gradient(top, #fff 0, #f0f2f4 100%);
        background-image: linear-gradient(to bottom, #fff 0, #f0f2f4 100%);
        background-repeat: repeat-x;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f2f4', GradientType=0);
        border: 1px solid #d7d7d7;
        border-top: none;
        -webkit-border-top-right-radius: 0;
        -moz-border-radius-topright: 0;
        border-top-right-radius: 0;
        -webkit-border-top-left-radius: 0;
        -moz-border-radius-topleft: 0;
        border-top-left-radius: 0;
        height: 80px;
        padding: 10px 20px;
        position: relative
    }
    #nav.navbar .navbar-header {
        position: absolute;
        top: 15px
    }
    #nav.navbar .navbar-header img {
        width: auto;
        height: 50px
    }
    #nav.navbar .main-menu {
        margin-left: 150px;
        float: left
    }
    #nav.navbar .nav-tabs {
        border: none;
        position: absolute;
        top: -34px
    }
    #nav.navbar .nav-tabs li {
        -webkit-border-top-right-radius: 4px;
        -moz-border-radius-topright: 4px;
        border-top-right-radius: 4px;
        -webkit-border-top-left-radius: 4px;
        -moz-border-radius-topleft: 4px;
        border-top-left-radius: 4px
    }
    #nav.navbar .nav-tabs li a {
        color: #fff;
        font-size: 16px;
        text-shadow: 0 1px 1px rgba(0, 0, 0, 0.5);
        letter-spacing: -0.025em;
        line-height: 24px;
        border: none;
        padding: 4px 16px 6px 16px;
        -webkit-transition: none;
        transition: none
    }
    #nav.navbar .nav-tabs li a:hover,
    #nav.navbar .nav-tabs li a:active,
    #nav.navbar .nav-tabs li a:focus {
        border: none
    }
    #nav.navbar .nav-tabs li.active a {
        color: #111;
        font-weight: 700;
        text-shadow: none;
        background-color: #fff;
        padding: 5px 15px
    }
    #nav.navbar .tab-content ul li {
        background: url(../img/nav-top-spacer.png) no-repeat left center;
        margin-left: 8px;
        padding-left: 8px;
        display: inline-block
    }
    #nav.navbar .tab-content ul li:first-child {
        background: none;
        margin-left: 0;
        padding-left: 0
    }
    #nav.navbar .tab-content ul li a {
        font-size: 14px;
        letter-spacing: -0.025em;
        line-height: 60px
    }
    #nav.navbar .tab-content ul li a:hover {
        color: #f6303e
    }
    #nav.navbar .search-bar {
        position: absolute;
        top: 25px;
        right: 20px
    }
    #nav.navbar .search-bar .btn {
        font-weight: 700;
        text-shadow: 0 1px 0 #fff;
        background-color: #fdfefe;
        background-image: -webkit-linear-gradient(top, #fff 0, #e8e8e8 100%);
        background-image: linear-gradient(to bottom, #fff 0, #e8e8e8 100%);
        background-repeat: repeat-x;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e8e8', GradientType=0)
    }
}
@media screen and (min-width: 768px) and (max-width: 991px) {
    .header-top .link-toggle-search,
    .header-top .link-contacto {
        position: absolute;
        top: 68px;
        z-index: 3
    }
    .header-top .link-toggle-search a,
    .header-top .link-contacto a,
    .header-top .link-toggle-search button,
    .header-top .link-contacto button {
        font: 0/0 a;
        color: transparent;
        text-shadow: none;
        background-color: transparent;
        border: 0;
        background: url(../img/icons.png) no-repeat;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        width: 40px;
        height: 34px;
        opacity: .35;
        filter: alpha(opacity=35);
        display: block;
        outline: none;
        outline-style: none
    }
    .header-top .link-toggle-search a:hover,
    .header-top .link-contacto a:hover,
    .header-top .link-toggle-search button:hover,
    .header-top .link-contacto button:hover,
    .header-top .link-toggle-search a:active,
    .header-top .link-contacto a:active,
    .header-top .link-toggle-search button:active,
    .header-top .link-contacto button:active,
    .header-top .link-toggle-search a:focus,
    .header-top .link-contacto a:focus,
    .header-top .link-toggle-search button:focus,
    .header-top .link-contacto button:focus {
        background-color: #f1f4f6;
        opacity: 1;
        filter: alpha(opacity=100)
    }
    .header-top .link-toggle-search {
        right: 70px;
        display: block
    }
    .header-top .link-toggle-search button {
        background-position: left -74px
    }
    .header-top .link-toggle-search button.active {
        background-position: left -34px
    }
    .header-top .link-contacto {
        right: 20px
    }
    .header-top .link-contacto a {
        background-position: left -146px
    }
    .header-top .link-contacto a:before {
        display: none
    }
    #nav.navbar .search-bar {
        width: 400px;
        position: absolute;
        left: 180px
    }
    #nav.navbar .search-bar .navbar-form {
        display: none
    }
    #nav.navbar .search-bar .navbar-form.visible {
        display: block
    }
}
@media screen and (min-width: 992px) {
    .header-top {
        background-position: -40px center;
        padding-top: 30px;
        padding-bottom: 10px
    }
    .header-top .cero-800 {
        font-size: 14px
    }
    .header-top .user-account {
        margin-right: 30px
    }
    .header-top .user-account a.user-login {
        max-width: 14em
    }
    #nav.navbar .main-menu {
        margin-left: 180px
    }
    #nav.navbar .nav-tabs {
        top: -40px
    }
    #nav.navbar .nav-tabs li a {
        font-size: 18px;
        padding: 6px 20px 10px 20px
    }
    #nav.navbar .nav-tabs li.active a {
        padding: 8px 20px
    }
    #nav.navbar .tab-content {
        display: block !important
    }
    #nav.navbar .tab-content.hidden {
        display: block !important;
        visibility: visible !important
    }
    #nav.navbar .tab-content ul li {
        margin-left: 10px;
        padding-left: 10px
    }
    #nav.navbar .tab-content ul li a {
        font-size: 16px
    }
    #nav.navbar .search-bar {
        width: 200px
    }
    #nav.navbar .search-bar .navbar-form,
    #nav.navbar .search-bar .navbar-form.hidden {
        visibility: visible !important;
        display: block !important
    }
    #nav.navbar .search-bar .input-group {
        width: 100%
    }
    #nav.navbar .search-bar .search-field {
        background-color: #ebeced;
        border: 1px solid transparent;
        border-bottom-color: #fff;
        -webkit-border-radius: 19px;
        -moz-border-radius: 19px;
        border-radius: 19px;
        padding-right: 40px;
        -webkit-transition: all .25s ease-out;
        transition: all .25s ease-out
    }
    #nav.navbar .search-bar .search-field:focus {
        background-color: #fff;
        border-color: #dedfe1
    }
    #nav.navbar .search-bar .input-group-btn {
        width: auto;
        position: absolute;
        top: 0;
        right: 0;
        z-index: 3
    }
    #nav.navbar .search-bar .btn {
        text-indent: -999em;
        background: url(../img/icons.png) no-repeat left -112px;
        border: none;
        width: 40px;
        height: 34px;
        padding: 0;
        opacity: .35;
        filter: alpha(opacity=35)
    }
    #nav.navbar .search-bar .btn:hover,
    #nav.navbar .search-bar .btn:active,
    #nav.navbar .search-bar .btn:focus {
        opacity: 1;
        filter: alpha(opacity=100)
    }
}
.main-footer {
	background-color: #fff;

}
.main-footer .row .row {
    margin-bottom: 0
}
.footer-menus .block-menu {
    border: none;
    margin: 0;
    padding: 0
}
.footer-menus .block-menu .block-title {
    color: #111;
    font-size: 16px;
    border: none;
    margin: 0;
    padding: 0
}
.footer-menus .block-menu .block-title a {
    text-decoration: none
}
.footer-menus .block-menu .nav li a {
    background: none;
    padding-left: 0
}
.footer-logos {
    text-align: center;
    background-color: #ebeced;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topright: 4px;
    border-top-right-radius: 4px;
    -webkit-border-top-left-radius: 4px;
    -moz-border-radius-topleft: 4px;
    border-top-left-radius: 4px;
    padding: 15px
}
.footer-info {
    color: #fcc1c5;
    font-size: 11px;
    font-family: Verdana, Tahoma, Arial, sans-serif;
    /* background-color: #f6303e; */
    background: url(../img/Cintillo2020.png)  no-repeat -360px center;
    border-top: 2px solid white;
    padding: 15px
}
.footer-info:before,
.footer-info:after {
    content: " ";
    display: table
}
.footer-info:after {
    clear: both
}
.footer-info a {
    color: #fcc1c5
}
.footer-info a:hover,
.footer-info a:active {
    color: #fff
}
.footer-info strong {
    color: #fff
}
.footer-info .footer-info-left,
.footer-info .footer-info-right {
    text-align: center;
    margin: 7px 0
}
@media screen and (max-width: 767px) {
    .main-footer>.container {
        padding: 0
    }
    .main-footer>.container .row {
        margin-right: 0;
        margin-left: 0
    }
    .footer-menus .block-menu .block-title {
        font-size: 18px;
        font-weight: 400;
        text-align: center;
        margin-bottom: 5px;
        padding: 0 20px
    }
    .footer-menus .block-menu .block-title a {
        background-color: #fdfefe;
        background-image: -webkit-linear-gradient(top, #fdfefe 0, #f0f2f4 100%);
        background-image: linear-gradient(to bottom, #fdfefe 0, #f0f2f4 100%);
        background-repeat: repeat-x;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fffdfefe', endColorstr='#fff0f2f4', GradientType=0);
        border: 1px solid #ddd;
        -webkit-border-radius: 4px;
        -moz-border-radius: 4px;
        border-radius: 4px;
        padding: 10px;
        display: block
    }
    .footer-menus .block-menu .block-title a:hover,
    .footer-menus .block-menu .block-title a:active {
        color: #111;
        background-color: #f0f2f4;
        background-image: -webkit-linear-gradient(top, #f0f2f4 0, #e9e9e9 100%);
        background-image: linear-gradient(to bottom, #f0f2f4 0, #e9e9e9 100%);
        background-repeat: repeat-x;
        filter: progid: DXImageTransform.Microsoft.gradient(startColorstr='#fff0f2f4', endColorstr='#ffe9e9e9', GradientType=0)
    }
    .footer-logos a {
        border-top: 1px solid #ddd;
        margin-top: 10px;
        padding-top: 10px;
        display: block
    }
    .footer-logos a:first-child {
        border-top: none;
        margin-top: 0;
        padding-top: 0
    }
}
@media screen and (min-width: 768px) {
    /* .main-footer { */
       /* padding-top: 40px*/
    /* } */
    .footer-menus .block-menu .block-title {
        font-size: 13px;
        line-height: 14px;
        background: url(../img/pointer-arrow-blue.png) no-repeat left top;
        border-bottom: 1px dotted #ccc;
        margin-bottom: 15px;
        padding: 0 0 10px 20px
    }
    .footer-menus .block-menu .block-title a {
        color: #111
    }
    .footer-menus .block-menu .nav li a {
        color: #999;
        font-size: 10px
    }
    .footer-menus .block-menu .nav li a:hover,
    .footer-menus .block-menu .nav li a:active {
        color: #111
    }
    .footer-logos {
        padding: 20px 0 15px 0
    }
    .footer-logos a {
        vertical-align: top;
        display: inline-block;
        margin: 0 20px
    }
}
@media screen and (min-width: 992px) {
    .footer-menus .block-menu .block-title {
        font-size: 14px;
        background-position: left 1px
    }
    .footer-menus .block-menu .nav {
        padding-left: 5px
    }
    .footer-menus .block-menu .nav li {
        padding-top: 10px
    }
    .footer-menus .block-menu .nav li a {
        color: #666;
        font-size: 11px
    }
    .footer-info .footer-info-left {
        float: left
    }
    .footer-info .footer-info-right {
        float: right
    }
}

#saldoForm{
	height:290px;
	text-align:left;
	/* border:1px solid blue; */

}
#casoForm{
	height:290px;
	/* border:1px solid red; */
	text-align:left;
}
.boton-nuevaConsulta{
	display: block;
	margin-left: auto;
	margin-right: auto;

}
.center-block{
	text-align:center;

}
/* breadcrumbs {
	text-align:left;
     background: #0039A6;
	 border: 0px solid rgba(245, 245, 245, 1);
	 border-radius: 4px;
	 display: block;
} */
@font-face {
      font-family: "cantv-italic";
      src: url("../fonts/meta-normal-italic.woff") format("truetype");
    }
@font-face {
    font-family: "cantv-normal";
    src: url("../fonts/meta-normal.woff");
 }
 #wo-breadcrumbs{
	height:20px;
     background: #004C8E;
	 border: 0px solid rgba(245, 245, 245, 1);
	 border-radius: 4px;
	 display: block;
	 color:white;
	/*  font-family : cantv-italic; */
}
.row{
	font-style: italic;
}
.breadcrumb li {
	font-size: 12px;
	font-family: cantv-normal;
	font-style: normal;
	}
.breadcrumb a {
	color: white;}
.breadcrumb a:hover {
	color: rgba(42, 100, 150, 1);}
.breadcrumb>.active {
	color: rgba(153, 153, 153, 1);}
.breadcrumb>li+li:before {
	color: rgba(204, 204, 204, 1);
	content: "\002F\00a0";}

.btn-default{
	/* color: white; */
	background:#1e3c8c;
	font-family : cantv-normal;
	border-radius: 6px;
	border-color: #1e3c8c;
}
.btn-segun{
	/* color: white; */
	background:#A94442;
	font-family : cantv-normal;
	border-radius: 6px;
	border-color: #A94442;
}
.btn-default {
	color: white;
	/* background-repeat: repeat-x; */
	/* background-image: linear-gradient(top, #1e3c8c 0%, #1e3c8c 100%); */
	/* background-image: linear-gradient(to bottom, #1e3c8c 0px, #3171A4 100%); */
   /*  text-shadow: 0 1px 0 #fff; */
}
.btn-default:hover {
	color: white;
	background-color: #3171A4;
}
.tile-header{
	/* font-family : cantv-italic; */
	color:#ed2939;
	font-size:19pt;
	text-align:left;
	font-weight:bold;
	font-style:italic;
}
.form-group{
	text-align:left;
}
.fa-lg {
    font-size: 1.6em;
	color: #B0B0B0;
}
.form-horizontal .control-label {
    text-align: left;
}
.panel-footer{
	text-align:center;
	background-color:#FFFFFF;
}
.panel-title{
	color:#FFFFFF;
	font-family : cantv-normal;

	padding:0px;
}
.panel-body{
	font-style : normal;
}
.panel-danger > .panel-heading {
    background-color: #ED2939;
    border-color: #ED2939;
    color: #FFFFFF;
	background-image: linear-gradient(to bottom, #ED2939 0px, #ED2939 100%);
    background-repeat: repeat-x;
	font-style : normal;
}

@media screen and (max-width: 580px) {
	#caja_error{
	width:300px;
	margin-left:auto;
	margin-right:auto;
	box-shadow: 5px 5px 8px #999;
	font-family : cantv-normal;
	}
}


.errores{
		-webkit-boxshadow: 0 0 10px rgba(0, 0, 0, 0.3);
		-moz-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		-o-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		background: red;
		box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
		color: #fff;
		display: none;
		font-size: 12px;
		margin-top: -27px;
		margin-left: 350px;
		padding: 10px;
		position: absolute;
        }
.h4 {
    color: #666;
    font-family: "MetaBoldLF-Roman";
	font-size: 20px;
}
.h5 {
    color: #666;
    font-family: "MetaBoldLF-Roman";
	font-size: 16px;
}
.rojo{
    color:red;
    font-size: 14px;
    }

    .alert-danger {
        color: #ED2939;
        background-color:white;
        margin-left: 5px;
        font-size: 12px;
        font-weight: normal;
    }

    input[type=radio] {
        height: 18px;
        margin: 10px;

    }
    input[type=checkbox] {
        height: 18px;
        margin: 10px;

    }


    /* definir encabezado de las tablas */
thead > tr {
    background: #0000fe;
    /* color: #ccc; */
}
.table-hover > tbody > tr:hover {
    background-color: #a3d0f1;
}
