#m,#b{
	margin-right:10px;
}
.center{
	margin-left:auto;
	margin-right:auto;
}
.rojo{
	color:#ED2939;
}
.borde-rojo{
	border-color:#ED2939;
}
.cantv{
	font-family:cantv-italic;
	font-weight:bold;
}
.title-center{
	text-align:center;
	font-style:italic;
}
.fecha-hora{
	/* padding-top:25px; */
	padding-top:10px;
}
.login-form{
	text-align:center;
	background:url(../img/bg-login_01.png) no-repeat;
	background-size:100%;
	height:325px;
}
.menuLateral {
	padding: 0;
}
#login-fields{
	margin-top:-15px;

}
#login-buttons{

	margin-left:auto;
	margin-right:auto;
}
.label-inf{
	font-family:cantv-normal;
	font-size:13pt;
	font-weight:bold;
	color:#666;
}
#tope-login{
	text-align:left;
	margin-top:-10px;
	/*background-color:#0039A6;*/
	color:white;
	margin-bottom:30px;
}
.link-olvido_contrasena{
	font-family:cantv-normal;
	text-decoration: underline;
}
#link-registrate{
	font-family:cantv-italic;
	margin-top:5%;
	text-decoration: underline;
}
.icon-color{
	color:gray;
}
.carousel{
	height:320px;
	/*border:1px dashed gray;*/
}
.contenido{
	margin-bottom:0px;
	padding-top:0px;
	text-align:center;
	height:450px;

}
#contenido-final{
	margin-top:-70px;
	/*border:1px dashed gray;*/
	height:60px;
	margin-bottom:0px;
}
.selForm{
	width:160px;
	height:150px;
	margin-top:50px;
	margin-bottom:0px;
	margin-left: auto;
	margin-right: auto;

	border-radius: 25px;
	text-align: center;
	/* transition: all .2s ease-in-out; */
}
.selForm :hover {
	/* transform: scale(1.2);  */

}
.selForm img{
	max-width:100%;

}

.selForm2{
	float:left;
	margin-left: 80px;
	width:90px;
	height:80px;
	border-radius: 40px;
	transition: all .2s ease-in-out;
	text-align:center;
}
.selForm2 img{
	width:100%;

}
.selForm2 :hover {
	/* transform: scale(1.1);  */

}
.hr-personalizado {border: 0; height: 12px; box-shadow: inset 0 12px 12px -12px #989898;}
.control-label{
	color: #666;
	/*font-family: cantv-italic;*/
	font-size:11pt;
}
p{
	color: #666;
	font-family: cantv-normal;
	font-size:11pt;
}
.numero_formulario_registro{
	background-color:#f6303e ;
	margin-top:-8px;
	width:80px;
	height:60px;
    font-size:40pt;
    border-radius: 55px 55px 55px 55px;
}

.numero_formulario_registro_out {
    background-color: #E0E0E0;
    margin-top: -8px;
    width: 80px;
    height: 60px;
    font-size: 40pt;
    border-radius: 55px 55px 55px 55px;
}
.numero_formulario_registro_line {
    background-color: #E0E0E0;
    margin-top: -8px;
    width: 60px;
    height: 15px;
    font-size: 40pt;
    border-radius: 55px 55px 55px 55px;
}
.fondo-gris{
	background-color:#777;
}
#formulario_registro_2,
#formulario_registro_3,
#formulario_registro_4,
#formulario_registro_5,
#form_olvido_contrasena{
	display:none;
}
/* #formulario_registro_3{
	text-align:center;
} */

#img_cargando{
	margin-left:auto;
	margin-right:auto;
}
#respuesta_todos{
	text-align:center;
}
.mix{
	margin-left:0px;
	margin-top:10px;
	border-radius: 5px;
	width:145px;
	height:100px;
	overflow:hidden;
}
.mix::before{
	padding-top:8%;
}
.mix:hover {
	-webkit-transform:scale(1.35);
	-moz-transform:scale(1.35);
	-ms-transform:scale(1.35);
	-o-transform:scale(1.35);
	transform:scale(1.35);

}
.radio-r{
	margin-top:100px;

}
.controls{
	background:#FFF;
}
#show_pass{
	float:right;
}
#olvido_datos{
	padding-bottom:20px;

}
#formulario_1{
	padding-top:20px;
}
#terminos-condiciones{
	height:320px;
	width:100%;
	overflow-y:scroll;
	/* overflow-x:hidden; */
	border:1px solid gray;
	text-align: justify;
    text-justify: inter-word;
}
.error {
    color: #A94442;
    background-color: #F2DEDE;
    border-color: #EBCCD1;
}
.panel-heading.error {
    color: #A94442 ;
background-color: #A94442;
border-color: #A94442;
}


#caja_error{
	width:400px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
}
#caja_mensaje{
	width:400px;
	margin-top:50px;
	margin-left:auto;
	margin-right:auto;
}
@media screen and (max-width: 992px) {
    .login-form{
		text-align:center;
		background:url(../img/bg-login_02.png) no-repeat;
		background-size:100%;
		height:340px;
	}
	#contenido-final{
		margin-top:10px;
		border:1px dashed gray;
		height:60px;
		margin-bottom:0px;
	}
}
@media screen and (min-width: 993px) {
	.login-form{
		text-align:center;
		background:url(../img/bg-login_01.png) no-repeat;
		background-size:100%;
		height:360px;
	}
	#link-registrate{
		font-style:normal;
		font-weight:bold;
		margin-top:15%;
	}
	#contenido-final{
		margin-top:-70px;
		border:1px dashed gray;
		height:60px;
		margin-bottom:0px;
	}
}
@media screen and (min-width: 1200px) {
	#link-registrate{
		font-style:normal;
		font-weight:bold;
		margin-top:5%;
	}
}

