@font-face {
    font-family: "FF Meta Web Pro";
    font-style: normal;
    font-weight: 400;
    src: url("../fonts/meta-normal.woff") format('woff');
}
@font-face {
    font-family: "FF Meta Web Pro";
    font-style: italic;
    font-weight: 400;
    src: url("../fonts/meta-normal-italic.woff") format('woff');
}
@font-face {
    font-family: "FF Meta Web Pro";
    font-style: normal;
    font-weight: 700;
    src: url("../fonts/meta-bold.woff") format('woff');
}
@font-face {
    font-family: "FF Meta Web Pro";
    font-style: italic;
    font-weight: 700;
    src: url("../fonts/meta-bold-italic.woff") format('woff');
}
