
/* CSS Document */
#tab #header {
	height:18px;
	position: relative;
	left: 10px;
	top:5px;
}
#tab #header ul {
	list-style: none;
	padding: 0;
	margin: 0;
}

#tab #header li {
	float: left;
	/*background: url(../images/fichas/tabright.gif) top right repeat-x;*/
	margin: 0;
}

#tab #header a, #tab #header span {
	display: block;
	/*background: transparent url(../images/fichas/tableft.gif) no-repeat scroll 0px 0px;*/
	color: blue;
	text-decoration: none;
	text-align:center;
	font-family:Verdana, Geneva, sans-serif;
	font-size:11px;
}

#tab #header a {
	padding: 3px 5px 3px 5px;
}

#tab #header span {
	padding: 3px 1px 3px 1px;
}

#tab #header a:hover {
	text-align:center;
	text-decoration:underline;
}

#tab #header #selected {
	font-weight: bold;
	/*background-image: url(../images/fichas/tabrightactive.gif);*/
}

#tab #header #selected a {
	/*background-image: url(../images/fichas/tableftactive.gif);*/
	color: white;
}

#tab #content {
	clear: both;
	color: #666;
	background: #FCFCFC;
	padding: 10px;
	border:1px solid #AAAAAA;
	width:98%
}