.carrusel-portada
{
	border-radius: 4px;
	moz-border-radius: 4px;
	overflow: hidden;
	webkit-border-radius: 4px;
}
.carrusel-portada .item
{
	overflow: hidden;
}
.carrusel-portada .item img
{
	width: 100%;
}
.carrusel-portada .caption-bg
{
	display: none;
}
.carrusel-portada .caption h3
{
	color: #f6303e;
	font-size: 32px;
	font-style: italic;
	font-weight: 700;
	letter-spacing: -0.025em;
	line-height: .9em;
	margin: 0 0 10px 0;
}
.carrusel-portada .caption p
{
	color: #444;
	font-size: 16px;
	font-style: italic;
	letter-spacing: -0.025em;
	line-height: 1.1em;
	margin: 0;
}
.carrusel-portada .carousel-indicators
{
	bottom: auto;
	left: auto;
	right: 12px;
	top: 7px;
	width: auto;
}
.carrusel-portada .carousel-indicators li
{
	background: #fff;
	border: none;
	border-radius: 6px;
	height: 12px;
	margin: 0 0 0 15px;
	moz-border-radius: 6px;
	webkit-border-radius: 6px;
	width: 12px;
}
.carrusel-portada .carousel-indicators li.active
{
	background: #f6303e;
}
.bloque-autogestion
{
	text-align: center;
	/*background: url(../img/bg-bloque-autogestion-1.png) no-repeat left center;
	background-size: 100% 100%;*/
	border-radius: 4px;
	moz-border-radius: 4px;
	overflow: hidden;
	position: relative;
	webkit-border-radius: 4px;
}
.bloque-autogestion .block-title
{
	background-color: #1442a2;
	border: none;
	color: #fff;
	font-size: 16px;
	font-weight: 400;
	line-height: 50px;
	margin: 0;
	padding: 0;
}
.bloque-autogestion .block-container
{
	text-align: left;
	/* background: #f6d221; */
	margin: 0 -1px;
	overflow: hidden;
	padding: 20px;
	padding-left: 40px;
	padding-right: 40px;
}
.bloque-autogestion .block-container a
{
	color: #000000;
	border-width: 0 0 1px 1px;
	display: block;
	padding: 5px 20px 0 20px;
	text-decoration: none;
}
.bloque-autogestion .block-container a h3
{
	color: #000;
	font-family: "FF Meta Web Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
	font-size: 18px;
	font-style: italic;
	font-weight: 700;
	letter-spacing: -0.025em;
	line-height: 40px;
	margin: 5px 0 0 0;
	padding: 0;
	text-align: left;
	text-shadow: 0 0 4px #fff;
	transition: all .2s ease-out;
	webkit-transition: all .2s ease-out;
}
.bloque-autogestion .block-container a:hover
{
	background: #dbb809;
	padding-top: 2px;
}
.bloque-autogestion .block-container a:hover h3
{
	color: #fff;
	font-size: 22px;
	text-shadow: 0 0 2px rgba(0,0,0,0.75);
}
.bloque-autogestion .nav-more
{
	font-weight: bold;
	line-height: 45px;
	text-transform: uppercase;
}
.bloque-autogestion .nav-more a
{
	background: url(../img/pointer-arrow-blue.png) no-repeat right 2px;
	padding-right: 20px;
	text-decoration: none;
}
.iconos-navegacion>div
{
	background: url(../img/bg-icono-separator.png) no-repeat left center;
}
.iconos-navegacion>div:first-child
{
	background: none;
}
.iconos-navegacion a
{
	color: #111;
	display: block;
	height: 100%;
	text-align: center;
	text-decoration: none;
	transition: all .15s ease-out;
	webkit-transition: all .15s ease-out;
}
.iconos-navegacion a:hover img
{
	ms-transform: scale(1.1);
	transform: scale(1.1);
	webkit-transform: scale(1.1);
}
.iconos-navegacion img
{
	display: inline-block;
	max-width: 100%;
	transition: all .15s ease-out;
	webkit-transition: all .15s ease-out;
}
.iconos-navegacion h3
{
	font-size: 24px;
	font-style: italic;
	font-weight: 700;
	letter-spacing: -0.025em;
	line-height: 1em;
	margin: 10px 0 0 0;
}
.bloque-prensa
{
	position: relative;
}
.bloque-prensa .block-title
{
	letter-spacing: -0.02em;
}
.bloque-prensa .block-title:before
{
	background-position: left -64px;
	height: 16px;
	margin-right: 8px;
	vertical-align: -2px;
	width: 16px;
}
.bloque-prensa .nav-prensa-mas
{
	border-top: 1px dotted #d6d6d6;
	font-size: 11px;
	font-weight: 700;
	margin-top: 10px;
	padding-top: 10px;
	text-align: center;
	text-transform: uppercase;
}
.bloque-prensa .nav-prensa-mas a
{
	background: url(../img/pointer-arrow-gray.png) no-repeat right center;
	padding-right: 12px;
}
.bloque-prensa .controles
{
	position: absolute;
	right: 0;
	top: -2px;
}
.bloque-prensa .controles a
{
	background-image: url(../img/icons.png);
	display: inline-block;
	height: 20px;
	outline-style: none;
	outline-width: 0;
	text-indent: -999em;
	transition: none;
	webkit-transition: none;
	width: 20px;
}
.bloque-prensa .controles a.prev
{
	background-position: left -180px;
}
.bloque-prensa .controles a.next
{
	background-position: left -200px;
}
.bloque-prensa .controles a:hover.prev,.bloque-prensa .controles a:active.prev
{
	background-position: -20px -180px;
}
.bloque-prensa .controles a:hover.next,.bloque-prensa .controles a:active.next
{
	background-position: -20px -200px;
}
.bloque-prensa .carousel .item img
{
	display: block;
	height: auto;
	margin-bottom: 10px;
	width: 100%;
}
.bloque-prensa .carousel .item h3
{
	font-size: 16px;
	margin: 0 0 10px 0;
}
.bloque-prensa .carousel .item .fecha
{
	color: #111;
	font-weight: 700;
}
.bloque-prensa .carousel .item .link-video
{
	display: block;
	position: relative;
}
.bloque-prensa .carousel .item .link-video:after
{
	background: url(../img/play.png) no-repeat center;
	content: " ";
	display: block;
	filter: alpha(opacity=75);
	height: 61px;
	left: 50%;
	margin-left: -30px;
	margin-top: -30px;
	opacity: .75;
	position: absolute;
	top: 50%;
	width: 61px;
}
.bloque-prensa .carousel .item .link-video:hover:after
{
	filter: alpha(opacity=100);
	opacity: 1;
}
.bloque-prensa .carrusel-titulares
{
	display: none;
}
.block-feature
{
	background: url(../img/bg-block-feature.png) repeat-x center top;
	background-size: 100% 100%;
	position: relative;
	text-align: center;
}
.block-feature .block-title
{
	border-bottom: 1px dotted #999;
	font-size: 15px;
	font-weight: 700;
	height: 25px;
	margin: 10px 15px 0 15px;
	text-transform: uppercase;
}
.block-feature .tab-pane-home>a
{
	display: block;
	height: 100%;
	text-decoration: none;
}
.block-feature .feature-heading
{
	color: #111;
	font-size: 20px;
	font-style: italic;
	font-weight: 700;
	letter-spacing: -0.02em;
	line-height: 1.1;
	margin: 0;
	padding: 15px 20px;
}
.block-feature .feature-info
{
	color: #666;
	font-family: Verdana,Tahoma,Arial,sans-serif;
	font-size: 12px;
	margin: 0 0 10px 0;
	padding: 0 15px;
}
.block-feature .feature-info.small
{
	color: #999;
	font-size: 9px;
}
.block-feature .feature-info.small p
{
	margin: 0;
}
.block-feature .feature-img
{
	margin-top: 20px;
}
.block-feature .feature-nav
{
	margin: 0 0 10px 0;
	padding: 0 15px;
}
.block-feature .feature-nav li
{
	margin-top: 5px;
}
.block-feature .feature-nav li:first-child
{
	margin-top: 0;
}
.block-feature .feature-nav li a
{
	background-color: #ebeced;
	background-image: linear-gradient(to bottom, #f1f4f6 0, #ebeced 100%);
	background-image: -webkit-linear-gradient(top, #f1f4f6 0, #ebeced 100%);
	background-repeat: repeat-x;
	border: 1px solid #fff;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1f4f6', endColorstr='#ffebeced', GradientType=0);
	font-size: 14px;
	moz-border-radius: 4px;
	padding: 7px 0;
	text-transform: uppercase;
	webkit-border-radius: 4px;
}
.block-feature .feature-nav li a:hover,.block-feature .feature-nav li a:active
{
	background-color: #f1f4f6;
	background-image: linear-gradient(to bottom, #ebeff2 0, #e6e7e8 100%);
	background-image: -webkit-linear-gradient(top, #ebeff2 0, #e6e7e8 100%);
	background-repeat: repeat-x;
	color: #111;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebeff2', endColorstr='#ffe6e7e8', GradientType=0);
}
.block-feature .block-footer
{
	background: url(../img/bg-feature-footer.png) no-repeat center bottom;
	background-size: 100% 100%;
	font-family: Verdana,Tahoma,Arial,sans-serif;
	font-size: 10px;
	height: 43px;
	padding: 0 10px;
	text-align: center;
	width: 100%;
}
.block-feature .block-footer .nav-tabs
{
	border: none;
}
.block-feature .block-footer .nav-tabs li a
{
	border: none;
	border-bottom-left-radius: 4px;
	border-bottom-right-radius: 4px;
	border-top-left-radius: 0;
	border-top-right-radius: 0;
	line-height: 30px;
	moz-border-radius-bottomleft: 4px;
	moz-border-radius-bottomright: 4px;
	moz-border-radius-topleft: 0;
	moz-border-radius-topright: 0;
	padding: 0;
	webkit-border-bottom-left-radius: 4px;
	webkit-border-bottom-right-radius: 4px;
	webkit-border-top-left-radius: 0;
	webkit-border-top-right-radius: 0;
}
.block-feature .block-footer .nav-tabs li a:hover,.block-feature .block-footer .nav-tabs li a:active,.block-feature .block-footer .nav-tabs li a:focus
{
	border: none;
}
.block-feature .block-footer .nav-tabs li.active a
{
	background-color: #d00917;
	color: #fff;
}
.block-feature .block-footer a
{
	border-left: 1px solid #fff;
	color: #fff;
	margin-left: 5px;
	padding-left: 5px;
}
.block-feature .block-footer a:first-child
{
	border-left: none;
	margin-left: 0;
	padding-left: 0;
}
.block-feature .block-footer a:hover
{
	color: #111;
}
@media screen and (max-width: 480px)
{
	.carrusel-portada .item img
	{
		margin-left: -35%;
		min-width: 135%;
	}
}
@media screen and (max-width: 767px)
{
	.col-carrusel-principal
	{
		margin-bottom: 30px;
	}
	.carrusel-portada .caption
	{
		background-color: #f1f4f6;
		background-image: linear-gradient(to bottom, #fdfefe 0, #e6e6e6 100%);
		background-image: -webkit-linear-gradient(top, #fdfefe 0, #e6e6e6 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfefe', endColorstr='#ffe6e6e6', GradientType=0);
		padding: 15px 20px;
		position: relative;
		z-index: 11;
	}
	.bloque-autogestion
	{
		margin: 0 auto;
		max-width: 300px;
	}
	.iconos-navegacion>div
	{
		padding: 30px 30px 0 30px;
	}
	.iconos-navegacion h3
	{
		font-size: 20px;
	}
	.bloque-prensa
	{
		margin-top: 20px;
	}
	.block-feature
	{
		margin: 20px auto 40px auto;
		max-width: 300px;
	}
	.block-feature .tab-pane-home
	{
		background-position: left top;
		background-size: auto 100%;
	}
	.block-feature .tab-pane-home .feature-info
	{
		display: none;
	}
	.block-feature .tab-pane-home .feature-img
	{
		margin-top: 0;
	}
	.block-feature .block-footer
	{
		margin: 0 -1px;
	}
	.block-feature .block-footer .nav-tabs.nav-justified
	{
		display: table;
	}
	.block-feature .block-footer .nav-tabs.nav-justified li
	{
		display: table-cell;
	}
	.block-feature .block-footer .nav-tabs.nav-justified li a
	{
		font-weight: 700;
	}
}
@media screen and (min-width: 768px)
{
	.carrusel-portada .item
	{
		border-bottom-left-radius: 6px;
		border-top-left-radius: 6px;
		moz-border-radius-bottomleft: 6px;
		moz-border-radius-topleft: 6px;
		webkit-border-bottom-left-radius: 6px;
		webkit-border-top-left-radius: 6px;
	}
	.carrusel-portada .caption-bg
	{
		background: url(../img/bg-carousel-caption.png) no-repeat left top;
		display: block;
		height: 100%;
		left: -400px;
		position: absolute;
		top: 0;
		transition: all .6s ease-out;
		webkit-transition: all .6s ease-out;
		width: 430px;
		z-index: 9;
	}
	.carrusel-portada .caption-bg.active
	{
		left: 0;
	}
	.carrusel-portada .caption
	{
		background: url(../img/bg-carousel-item.png) no-repeat 250px bottom;
		filter: alpha(opacity=0);
		height: 100%;
		left: -125px;
		opacity: 0;
		padding: 20px 0 0 20px;
		position: absolute;
		top: 0;
		width: 100%;
		z-index: 11;
	}
	.carrusel-portada .caption.animate-out
	{
		ms-transform: scale(0);
		transform: scale(0);
		transform-origin: 0 0;
		webkit-transform: scale(0);
	}
	.carrusel-portada .caption.active
	{
		background-position: left bottom;
		filter: alpha(opacity=100);
		left: 0;
		opacity: 1;
		transition: all .5s ease-out;
		webkit-transition: all .5s ease-out;
	}
	.carrusel-portada .caption h3
	{
		max-width: 160px;
	}
	.carrusel-portada .caption p
	{
		max-width: 145px;
	}
	.carrusel-portada .carousel-indicators
	{
		bottom: auto;
		left: auto;
		right: 15px;
		top: 8px;
	}
	.bloque-autogestion .block-container a
	{
		padding-bottom: 10px;
		padding-top: 0;
	}
	.block-feature .tab-pane
	{
		height: 240px;
		overflow: hidden;
		position: relative;
	}
	.block-feature .feature-img
	{
		bottom: 0;
		left: 0;
		position: absolute;
		right: 0;
	}
	.bloque-prensa .carousel .item h3
	{
		font-size: 16px;
		margin: 0;
	}
	.bloque-prensa .nav-prensa-mas
	{
		margin-top: 10px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px)
{
	.col-carrusel-principal
	{
		margin-bottom: 40px;
	}
	.carrusel-portada .caption-bg
	{
		background-size: 60% 101%;
	}
	.acordeon-servicios
	{
		margin: 0;
	}
}
@media screen and (min-width: 992px)
{
	.col-carrusel-principal
	{
		width: 690px !important;
	}
	.carrusel-portada .carousel-indicators li
	{
		border-radius: 5px;
		height: 10px;
		moz-border-radius: 5px;
		webkit-border-radius: 5px;
		width: 10px;
	}
	.carrusel-portada .caption p
	{
		max-width: 140px;
	}
	.col-autogestion
	{
		width: 300px !important;
	}
	.bloque-autogestion
	{
		background-color: #ffffff;
		height: 380px;
		overflow: visible;
	}
	.bloque-autogestion .block-title
	{
		border-bottom-left-radius: 4px;
		border-bottom-right-radius: 4px;
		display: inline-block;
		line-height: 30px;
		margin-bottom: 10px;
		moz-border-radius-bottomleft: 4px;
		moz-border-radius-bottomright: 4px;
		padding: 0 15px;
		webkit-border-bottom-left-radius: 4px;
		webkit-border-bottom-right-radius: 4px;
	}
	.bloque-autogestion .block-container
	{
		background: none;
		background-size: 100% 100%;
		border: none;
		padding: 20px 40px;
	}
	.bloque-autogestion .block-container a
	{
		border: none;
		padding: 0;
	}
	.bloque-autogestion .block-container a:hover
	{
		background: none;
		padding: 0;
	}
	.bloque-autogestion .block-container a:hover h3
	{
		line-height: 35px;
	}
	.bloque-autogestion .nav-more
	{
		font-size: 13px;
		line-height: 38px;
		margin-top: -10px;
	}
	.col-prensa
	{
		padding-right: 30px;
	}
	.bloque-prensa .nav-prensa-mas
	{
		border: none;
		margin: 0;
		padding: 0;
		position: absolute;
		right: 0;
		top: 5px;
	}
	.bloque-prensa .controles
	{
		display: none;
	}
	.bloque-prensa .carousel
	{
		border-right: 1px solid #d8dbdd;
		float: left;
		padding-right: 15px;
		width: 55%;
	}
	.bloque-prensa .carousel .item h3
	{
		font-size: 18px;
		line-height: 1.2em;
	}
	.bloque-prensa .carrusel-titulares
	{
		display: block;
		float: left;
		position: relative;
		width: 45%;
		z-index: 2;
	}
	.bloque-prensa .carrusel-titulares ul
	{
		list-style: none;
		margin: 0 0 0 15px;
		padding: 0;
	}
	.bloque-prensa .carrusel-titulares ul li
	{
		border-top: 1px dotted #d8dbdd;
		margin-top: 8px;
		padding-top: 8px;
	}
	.bloque-prensa .carrusel-titulares ul li:first-child
	{
		border-top: none;
		margin-top: 0;
		padding-top: 0;
	}
	.bloque-prensa .carrusel-titulares ul li h3
	{
		font-size: 14px;
		margin: 0;
	}
	.bloque-prensa .carrusel-titulares ul li a
	{
		border-left: 3px solid transparent;
		color: #888;
		display: block;
		margin-left: -17px;
		outline-style: none;
		outline-width: 0;
		padding-left: 15px;
		text-decoration: none;
	}
	.bloque-prensa .carrusel-titulares ul li a:hover
	{
		color: #666;
	}
	.bloque-prensa .carrusel-titulares ul li.active a
	{
		border-color: #f6303e;
		color: #111;
	}
}