/*LAYOUT*/
@font-face {
    font-family: "cantv-normal";
    src: url("../fonts/meta-normal.woff");
 }
#bd {
	width:100%;
}
#masterhead {
	 height:150px;/*//85 */
}
#top-menu {
	width:100%;
	left:0px;
	position:relative;
	top:0px;/* //155-85 */
}
#left-menu {
    left: 5px;
    position: relative;
    top: 5px;
    width: 200px;
}
#main-content {
	/*
	position: absolute;
	left: 210px;
    top: 200px;
    position: relative;
	top: 60px;
	left: 225px;
	*/
	text-align: left;
	max-width: 1000px;
}
#main-content #content-panel {
	padding-top: 10px !important;
	padding-left: 210px !important;
}

#caja_error{
	width:400px;
	
	margin-top:50px !important;
	margin-left:auto !important;
	margin-right:auto !important;
	box-shadow: 5px 5px 8px #999 !important;
	font-family : cantv-normal !important;
}
.panel-body.msj {
    height: 90px;
}
.panel-heading.error{
	background-color: #ED2939 !important;
}

.panel-heading{
	background-color: #003399 !important;
}
.panel-heading .panel-title{
	padding-left: 10PX !important;
	color:#fff !important;
}
.panel-heading-error .panel-title{
	padding-left: 10PX !important;
	color:#fff !important;
}
.panel-body{

	text-align: center !important;
	font-size: 10pt !important;
	font-family:cantv-normal !important;
	padding: 5px !important; 
}
/*.panel-footer{
	padding: 5px;
	
	border-top: 1px solid #E8E8E8;
	text-align: center;
	/*background-color: #ED2939;
	color:#ffffff;
}*/
#problema_averia option{

	
	word-wrap: break-word; 
  	white-space: -moz-pre-wrap; 
  	white-space: pre-wrap; 
 	 width:300px; 
 }