@charset "iso-8859-1";
/* CSS Document */

#loginform {
	margin:0px;
	padding:0px;
}
#login #cabecera{
	width:100%;
	height:75px;
	position:relative;
	padding-top:10px;
}
#login {
	margin:0 auto 0 auto;
	width:800px;
}
#login #logo{
	float:left;
	width:30%;
	height:100%;
	/*background-image:url(../images/logo.gif);*/
	background-repeat: no-repeat;
	background-position: 0px 0px;
	padding-bottom:4px;
}
#login #appimg{
	float:right;
	width:69%;
	margin-top:30px;
}
#login-box{
	width:330px;	
	margin-left: auto;
  	margin-right: auto;
	height:225px;
}
#login-box #cabecera{
	text-align:left;
	font-weight:bold;
	font-style:italic;
	font-size:14px;
	color:#003399;
	width:100%;
	height:15px;
	padding-left:2px;
	padding-bottom:1px;
}
#login-box #login-form {
	border:1px solid #666;
	width:auto;
	margin:0px;
	padding:0px;
	height:195px;
}
#login-box #login-form-cabecera{
	width:auto;
	height:20px;
	background-color:#FF3333;
	color:#FFF;
	font-size:14px;
	font-weight:bold;
	font-style:italic;
	text-align:right;
	padding-right:10px;
	padding-bottom:2px;
	padding-top:3px;
}
#login-box #login-form #box{
	width:auto;
	padding:10px;
	padding-bottom:10px;
	height:150px;
}
#login-box #login-form #box #mensaje{
	width:auto;
	font-size:10px;
	text-align:left;
	padding-bottom:5px;
	height:12px;
}
#login-box #login-form #box #form-usuario{
	width:auto;
	padding-top:10px;
}
#login-box #login-form #box #form-usuario #label-usuario{
	padding-bottom:5px;
}
#login-box #login-form #box #form-clave{
	width:auto;
	padding-top:10px;
}
#login-box #login-form #box #form-clave #label-clave{
	margin-bottom:5px;
}
#login-box #login-form #box #form-button {
	width:auto;	
	padding-top:15px;	
	padding-bottom:10px;
}
#cambio_clave-box{
	width:330px;	
	margin-left: auto;
  	margin-right: auto;
}
#cambio_clave-box #mensaje{
	width:auto;
	height:auto;
	background-color:#D1E2F2;
	color:#000000;
	font-size:10px;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:2px;
	padding-top:2px;
}
#resolucion-box{
	width:auto;	
	margin-left: auto;
  	margin-right: auto;
}
#resolucion-box #mensaje{
	width:auto;
	height:25px;
	color:#999999;
	font-size:9px;
	text-align:center;
	padding-left:10px;
	padding-right:10px;
	padding-bottom:2px;
	padding-top:2px;
}
