/* MENU HORIZONTAL*/
header .navbar
{
	border: none;
	border-bottom: 1px solid #e9e9e9;
	margin: 0;
	padding: 0;
}
header .navbar .navbar-toggle
{
	background: url(../img/icons.png) no-repeat 3px -32px;
	border: none;
	filter: alpha(opacity=50);
	height: 40px;
	margin: 0;
	opacity: .5;
	padding: 0;
	width: 46px;

}
header .navbar .navbar-toggle:hover, header .navbar .navbar-toggle:active, header .navbar .navbar-toggle:focus
{
	filter: alpha(opacity=100);
	opacity: 1;
}
header .navbar .navbar-toggle.toggle-search
{
	background-position: 3px -72px;
	margin-right: 10px;
}
header .navbar .navbar-collapse
{
	border: none;
	margin: 0;
	padding: 0;
}
header .navbar .navbar-brand
{
	height: auto;
	margin: 0;
	padding: 0;
}
header .navbar .navbar-brand img
{
	width: auto;
}
header .navbar .navbar-form
{
	border: none;
	margin: 0 !important;
	padding: 0;
}
header .navbar .nav-tabs li a
{
	background: none;
	margin: 0;
	padding: 0;
}
header .navbar .nav-tabs li a:hover, header .navbar .nav-tabs li a:active, header .navbar .nav-tabs li a:focus
{
	outline-style: none;
	outline-width: 0;
}
header .navbar .tab-content ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
header .navbar .main-menu a
{
	color: #111;
	text-decoration: none;
}
header .navbar .navbar-header
{
	top: 15px;
	width: 99%;
}
header .navbar .navbar-header div
{
	height: 50px;
	float:left;
}
header .navbar .navbar-header .title
{
	text-align: center;
	left:90px;

}
header .navbar .navbar-header .user
{
	text-align: right;
	top:19px;
}
header .navbar .navbar-header .logo img
{
	height: 55px;
	width: auto;
}
@media screen and (max-width: 767px)
{
	header .navbar .navbar-header .title h3
	{
		font-size: 18px;
	}
}
@media screen and (max-width: 991px)
{
	header .navbar .navbar-header .title h3
	{
		font-size: 21px;
	}
	header .navbar .navbar-header .user
	{
		font-size: 12px;
	}
}
@media screen and (max-width: 767px)
{
	header .navbar-header
	{
		background-color: #fdfefe;
		background-image: linear-gradient(to bottom, #fff 0, #f0f2f4 100%);
		background-image: -webkit-linear-gradient(top, #fff 0, #f0f2f4 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f2f4', GradientType=0);
		padding: 10px 15px;
	}
	header .navbar
	{
		background: #f0f2f4;
	}
	header .navbar .navbar-brand img
	{
		height: 40px;
		width: auto;
	}
	header .navbar .navbar-collapse
	{
		border-top: 1px solid #dedfe0;
		margin: 0;
	}
	header .navbar .search-bar form
	{
		border-top: 1px solid #fff;
		padding: 10px 15px;
	}
	header .navbar .search-bar form .btn
	{
		background-color: #fdfefe;
		background-image: linear-gradient(to bottom, #fff 0, #e8e8e8 100%);
		background-image: -webkit-linear-gradient(top, #fff 0, #e8e8e8 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e8e8', GradientType=0);
		font-weight: 700;
		text-shadow: 0 1px 0 #fff;
		z-index: 2;
	}
	header .navbar .nav-tabs
	{
		border: none;
		border-top: 1px solid #fff;
		display: table;
		font-size: 0;
		width: 100%;
	}
	header .navbar .nav-tabs li
	{
		background-color: #dedfe0;
		background-image: linear-gradient(to bottom, #dedfe0 0, #e6e7e8 100%);
		background-image: -webkit-linear-gradient(top, #dedfe0 0, #e6e7e8 100%);
		background-repeat: repeat-x;
		border: none;
		border-bottom: 1px solid #dedfe0;
		border-left: 1px solid #f1f2f2;
		border-right: 1px solid #d5d7d8;
		display: table-cell;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdedfe0', endColorstr='#ffe6e7e8', GradientType=0);
		float: none;
		padding: 0 10px;
		text-align: center;
	}
	header .navbar .nav-tabs li a
	{
		border: none;
		border-radius: 0;
		filter: alpha(opacity=50);
		font-size: 16px;
		font-weight: 700;
		letter-spacing: -0.025em;
		moz-border-radius: 0;
		opacity: .5;
		padding: 15px 0;
		text-shadow: 0 1px 0 #fff;
		webkit-border-radius: 0;
	}
	header .navbar .nav-tabs li a:before
	{
		display: block;
		height: 24px;
		margin: 0 auto;
		width: 24px;
	}
	header .navbar .nav-tabs li a:hover, header .navbar .nav-tabs li a:active, header .navbar .nav-tabs li a:focus
	{
		border: none;
	}
	header .navbar .nav-tabs li a:hover, header .navbar .nav-tabs li a:active, header .navbar .nav-tabs li a:focus
	{
		background: none;
		border: none;
		color: #111;
	}
	header .navbar .nav-tabs li:first-child
	{
		border-left: none;
	}
	header .navbar .nav-tabs li:last-child
	{
		border-right: none;
	}
	header .navbar .nav-tabs li:hover a, header .navbar .nav-tabs li.active a
	{
		color: #111;
		filter: alpha(opacity=100);
		opacity: 1;
	}
	header .navbar .nav-tabs li.active
	{
		background-color: #f0f2f4;
		background-image: linear-gradient(to bottom, #fff 0, #f0f2f4 100%);
		background-image: -webkit-linear-gradient(top, #fff 0, #f0f2f4 100%);
		background-repeat: repeat-x;
		border-bottom: 2px solid #f0f2f4;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f2f4', GradientType=0);
		margin-bottom: -2px;
	}
	header .navbar .tab-content ul
	{
		background: #f0f2f4;
		padding: 0 20px;
	}
	header .navbar .tab-content ul li
	{
		border-bottom: 1px solid #e5e8eb;
		border-top: 1px solid #fff;
	}
	header .navbar .tab-content ul li:first-child
	{
		border-top: none;
	}
	header .navbar .tab-content ul li:last-child
	{
		border-bottom: none;
	}
	header .navbar .tab-content ul li a
	{
		display: block;
		font-size: 18px;
		padding: 10px 5px;
		text-shadow: 0 1px 0 #fff;
	}
}
@media screen and (max-width: 480px)
{
	.header-top .link-contacto a
	{
		background: url(../img/icons.png) no-repeat -16px top;
		height: 16px;
		padding: 0;
		text-indent: -999em;
		width: 16px;
	}
	.header-top .link-contacto a:before
	{
		display: none;
	}
}
@media screen and (min-width: 768px)
{
	.main-header
	{
		margin: 0 0 40px 0;
	}
	.header-top
	{
		background-position: -195px center;
		font-size: 11px;
		padding-bottom: 7px;
		padding-top: 20px;
	}
	.header-top .cero-800
	{
		display: block;
		float: left;
		font-size: 13px;
	}
	.header-top .cero-800:before
	{
		background-position: left -16px;
		height: 16px;
		margin-right: 6px;
		vertical-align: -3px;
		width: 16px;
	}
	.header-top .cero-800 em
	{
		font-style: normal;
		font-weight: 700;
	}
	.header-top .user-account
	{
		float: right;
	}
	.header-top .user-account a.user-login
	{
		max-width: 12em;
	}
	/**/
	header .navbar
	{
		background-color: #fdfefe;
		background-image: linear-gradient(to right, #fff 0, #f0f2f4 100%);
		background-image: -webkit-linear-gradient(top, #fff 0, #f0f2f4 100%);
		background-repeat: repeat-x;
		border: 1px solid #d7d7d7;
		border-top: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f2f4', GradientType=0);
		height: 80px;
		moz-border-radius-topleft: 0;
		moz-border-radius-topright: 0;
		padding: 10px 20px;
		position: relative;
		webkit-border-top-left-radius: 0;
		webkit-border-top-right-radius: 0;

	}
	header .navbar .navbar-header
	{
		position: absolute;
		top: 12px;
	}
	header .navbar .navbar-header img
	{
		height: 50px;
		width: auto;
	}
	header .navbar .main-menu
	{
		float: left;
		margin-left: 150px;
	}
	header .navbar .nav-tabs
	{
		border: none;
		position: absolute;
		top: -34px;
	}
	header .navbar .nav-tabs li
	{
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		moz-border-radius-topleft: 4px;
		moz-border-radius-topright: 4px;
		webkit-border-top-left-radius: 4px;
		webkit-border-top-right-radius: 4px;
	}
	header .navbar .nav-tabs li a
	{
		border: none;
		color: #fff;
		font-size: 16px;
		letter-spacing: -0.025em;
		line-height: 24px;
		padding: 4px 16px 6px 16px;
		text-shadow: 0 1px 1px rgba(0,0,0,0.5);
		transition: none;
		webkit-transition: none;
	}
	header .navbar .nav-tabs li a:hover, header .navbar .nav-tabs li a:active, header .navbar .nav-tabs li a:focus
	{
		border: none;
	}
	header .navbar .nav-tabs li.active a
	{
		background-color: #fff;
		color: #111;
		font-weight: 700;
		padding: 5px 15px;
		text-shadow: none;
	}
	header .navbar .tab-content ul li
	{
		background: url(../img/nav-top-spacer.png) no-repeat left center;
		display: inline-block;
		margin-left: 8px;
		padding-left: 8px;
	}
	header .navbar .tab-content ul li:first-child
	{
		background: none;
		margin-left: 0;
		padding-left: 0;
	}
	header .navbar .tab-content ul li a
	{
		font-size: 14px;
		letter-spacing: -0.025em;
		line-height: 60px;
	}
	header .navbar .tab-content ul li a:hover
	{
		color: #f6303e;
	}
	header .navbar .search-bar
	{
		position: absolute;
		right: 20px;
		top: 25px;
	}
	header .navbar .search-bar .btn
	{
		background-color: #fdfefe;
		background-image: linear-gradient(to bottom, #fff 0, #e8e8e8 100%);
		background-image: -webkit-linear-gradient(top, #fff 0, #e8e8e8 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e8e8', GradientType=0);
		font-weight: 700;
		text-shadow: 0 1px 0 #fff;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px)
{
	.header-top .link-toggle-search,.header-top .link-contacto
	{
		position: absolute;
		top: 68px;
		z-index: 3;
	}
	.header-top .link-toggle-search a,.header-top .link-contacto a,.header-top .link-toggle-search button,.header-top .link-contacto button
	{
		background: url(../img/icons.png) no-repeat;
		background-color: transparent;
		border: 0;
		border-radius: 4px;
		color: transparent;
		display: block;
		filter: alpha(opacity=35);
		font: 0/0 a;
		height: 34px;
		moz-border-radius: 4px;
		opacity: .35;
		outline: none;
		outline-style: none;
		text-shadow: none;
		webkit-border-radius: 4px;
		width: 40px;
	}
	.header-top .link-toggle-search a:hover,.header-top .link-contacto a:hover,.header-top .link-toggle-search button:hover,.header-top .link-contacto button:hover,.header-top .link-toggle-search a:active,.header-top .link-contacto a:active,.header-top .link-toggle-search button:active,.header-top .link-contacto button:active,.header-top .link-toggle-search a:focus,.header-top .link-contacto a:focus,.header-top .link-toggle-search button:focus,.header-top .link-contacto button:focus
	{
		background-color: #f1f4f6;
		filter: alpha(opacity=100);
		opacity: 1;
	}
	.header-top .link-toggle-search
	{
		display: block;
		right: 70px;
	}
	.header-top .link-toggle-search button
	{
		background-position: left -74px;
	}
	.header-top .link-toggle-search button.active
	{
		background-position: left -34px;
	}
	.header-top .link-contacto
	{
		right: 20px;
	}
	.header-top .link-contacto a
	{
		background-position: left -146px;
	}
	.header-top .link-contacto a:before
	{
		display: none;
	}
	header .navbar .search-bar
	{
		left: 180px;
		position: absolute;
		width: 400px;
	}
	header .navbar .search-bar .navbar-form
	{
		display: none;
	}
	header .navbar .search-bar .navbar-form.visible
	{
		display: block;
	}
}
@media screen and (min-width: 992px)
{
	.header-top
	{
		background-position: -40px center;
		/* padding-bottom: 10px; */
		padding-top: 30px;
	}
	.header-top .cero-800
	{
		font-size: 14px;
	}
	.header-top .user-account
	{
		margin-right: 30px;
	}
	.header-top .user-account a.user-login
	{
		max-width: 14em;
	}
	header .navbar .main-menu
	{
		margin-left: 180px;
	}
	header .navbar .nav-tabs
	{
		top: -40px;
	}
	header .navbar .nav-tabs li a
	{
		font-size: 18px;
		padding: 6px 20px 10px 20px;
	}
	header .navbar .nav-tabs li.active a
	{
		padding: 8px 20px;
	}
	header .navbar .tab-content
	{
		display: block !important;
	}
	header .navbar .tab-content.hidden
	{
		display: block !important;
		visibility: visible !important;
	}
	header .navbar .tab-content ul li
	{
		margin-left: 10px;
		padding-left: 10px;
	}
	header .navbar .tab-content ul li a
	{
		font-size: 16px;
	}
	header .navbar .search-bar
	{
		width: 200px;
	}
	header .navbar .search-bar .navbar-form, header .navbar .search-bar .navbar-form.hidden
	{
		display: block !important;
		visibility: visible !important;
	}
	header .navbar .search-bar .input-group
	{
		width: 100%;
	}
	header .navbar .search-bar .search-field
	{
		background-color: #ebeced;
		border: 1px solid transparent;
		border-bottom-color: #fff;
		border-radius: 19px;
		moz-border-radius: 19px;
		padding-right: 40px;
		transition: all .25s ease-out;
		webkit-border-radius: 19px;
		webkit-transition: all .25s ease-out;
	}
	header .navbar .search-bar .search-field:focus
	{
		background-color: #fff;
		border-color: #dedfe1;
	}
	header .navbar .search-bar .input-group-btn
	{
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
		z-index: 3;
	}
	header .navbar .search-bar .btn
	{
		background: url(../img/icons.png) no-repeat left -112px;
		border: none;
		filter: alpha(opacity=35);
		height: 34px;
		opacity: .35;
		padding: 0;
		text-indent: -999em;
		width: 40px;
	}
	header .navbar .search-bar .btn:hover, header .navbar .search-bar .btn:active, header .navbar .search-bar .btn:focus
	{
		filter: alpha(opacity=100);
		opacity: 1;
	}
}


/* MENU LATERAL */
/* nav.navbar.navbar-side .accordion-toggle[aria-expanded="true"] span.aria-toggle
{
	display: none;
}

nav.navbar.navbar-side .accordion-toggle[aria-expanded="false"] span.aria-collapsed
{
	display: none;
} */

/* PERSONALIZA TODOS LOS ELEMENTOS DEL MENU */
/* nav.navbar.navbar-side > *
{
	font-family: "FF Meta Web Pro","Helvetica Neue",Verdana,Arial,sans-serif;
	font-size: 12px;
}

nav.navbar.navbar-side
{
	border: 1px solid #ccc;
} */

/* CEBECERA */
nav.navbar.navbar-side .navbar-header
{
	background-color: #f0f2f4;
	background-image: linear-gradient(to bottom, #fff 0, #f0f2f4 100%);
	background-image: -webkit-linear-gradient(top, #fff 0, #f0f2f4 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f2f4', GradientType=0);
	-moz-box-shadow:    0px 1px 1px 0px #ccc;
	-webkit-box-shadow: 0px 1px 1px 0px #ccc;
	box-shadow:         0px 1px 1px 0px #ccc;
	border: 1px solid #ccc;
}

nav.navbar.navbar-side .navbar-header .navbar-brand
{
	color: #666666;
	font-weight: bold;
	font-size: 12px;
}

/* ELEMENTOS */
/* nav.navbar.navbar-side .panel > *
{
	font-family: Verdana,Arial,sans-serif;
	font-size: 11px;
	color: #666666;
    font-style: italic;
}

nav.navbar.navbar-side
{
	background-color: #f0f2f4;
}

nav.navbar.navbar-side .panel span.text
{
	font-weight: bold;
}

nav.navbar.navbar-side .panel a
{
	color: #666666;
} */



#img_cargando{
	margin-left: auto;
	margin-right: auto;
}

/* MENU HORIZONTAL*/
header .navbar
{
	border: none;
	border-bottom: 1px solid #e9e9e9;
	margin: 0;
	padding: 0;
}
header .navbar .navbar-toggle
{
	background: url(../img/icons.png) no-repeat 3px -32px;
	border: none;
	filter: alpha(opacity=50);
	height: 40px;
	margin: 0;
	opacity: .5;
	padding: 0;
	width: 46px;
}
header .navbar .navbar-toggle:hover, header .navbar .navbar-toggle:active, header .navbar .navbar-toggle:focus
{
	filter: alpha(opacity=100);
	opacity: 1;
}
header .navbar .navbar-toggle.toggle-search
{
	background-position: 3px -72px;
	margin-right: 10px;
}
header .navbar .navbar-collapse
{
	border: none;
	margin: 0;
	padding: 0;
}
header .navbar .navbar-brand
{
	height: auto;
	margin: 0;
	padding: 0;
}
header .navbar .navbar-brand img
{
	width: 140px;
}
header .navbar .navbar-form
{
	border: none;
	margin: 0 !important;
	padding: 0;
}
header .navbar .nav-tabs li a
{
	background: none;
	margin: 0;
	padding: 0;
}
header .navbar .nav-tabs li a:hover, header .navbar .nav-tabs li a:active, header .navbar .nav-tabs li a:focus
{
	outline-style: none;
	outline-width: 0;
}
header .navbar .tab-content ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
header .navbar .main-menu a
{
	color: #111;
	text-decoration: none;
}
header .navbar .navbar-header
{
	top: 15px;
	width: 99%;
}
header .navbar .navbar-header div
{
	height: 50px;
	float:left;
}
header .navbar .navbar-header .title
{
	text-align: center;
	left:90px;

}
header .navbar .navbar-header .user
{
	text-align: right;
	top:19px;
}
header .navbar .navbar-header .logo img
{
	height: 55px;
	width: auto;
}
@media screen and (max-width: 767px)
{
	header .navbar .navbar-header .title h3
	{
		font-size: 18px;
	}
}
@media screen and (max-width: 991px)
{
	header .navbar .navbar-header .title h3
	{
		font-size: 21px;
	}
	header .navbar .navbar-header .user
	{
		font-size: 12px;
	}
}
@media screen and (max-width: 767px)
{
	header .navbar-header
	{
		background-color: #fdfefe;
		background-image: linear-gradient(to bottom, #fff 0, #f0f2f4 100%);
		background-image: -webkit-linear-gradient(top, #fff 0, #f0f2f4 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f2f4', GradientType=0);
		padding: 10px 15px;
	}
	header .navbar
	{
		background: #f0f2f4;
	}
	header .navbar .navbar-brand img
	{
		height: 40px;
		width: auto;
	}
	header .navbar .navbar-collapse
	{
		border-top: 1px solid #dedfe0;
		margin: 0;
	}
	header .navbar .search-bar form
	{
		border-top: 1px solid #fff;
		padding: 10px 15px;
	}
	header .navbar .search-bar form .btn
	{
		background-color: #fdfefe;
		background-image: linear-gradient(to bottom, #fff 0, #e8e8e8 100%);
		background-image: -webkit-linear-gradient(top, #fff 0, #e8e8e8 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e8e8', GradientType=0);
		font-weight: 700;
		text-shadow: 0 1px 0 #fff;
		z-index: 2;
	}
	header .navbar .nav-tabs
	{
		border: none;
		border-top: 1px solid #fff;
		display: table;
		font-size: 0;
		width: 100%;
	}
	header .navbar .nav-tabs li
	{
		background-color: #dedfe0;
		background-image: linear-gradient(to bottom, #dedfe0 0, #e6e7e8 100%);
		background-image: -webkit-linear-gradient(top, #dedfe0 0, #e6e7e8 100%);
		background-repeat: repeat-x;
		border: none;
		border-bottom: 1px solid #dedfe0;
		border-left: 1px solid #f1f2f2;
		border-right: 1px solid #d5d7d8;
		display: table-cell;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdedfe0', endColorstr='#ffe6e7e8', GradientType=0);
		float: none;
		padding: 0 10px;
		text-align: center;
	}
	header .navbar .nav-tabs li a
	{
		border: none;
		border-radius: 0;
		filter: alpha(opacity=50);
		font-size: 16px;
		font-weight: 700;
		letter-spacing: -0.025em;
		moz-border-radius: 0;
		opacity: .5;
		padding: 15px 0;
		text-shadow: 0 1px 0 #fff;
		webkit-border-radius: 0;
	}
	header .navbar .nav-tabs li a:before
	{
		display: block;
		height: 24px;
		margin: 0 auto;
		width: 24px;
	}
	header .navbar .nav-tabs li a:hover, header .navbar .nav-tabs li a:active, header .navbar .nav-tabs li a:focus
	{
		border: none;
	}
	header .navbar .nav-tabs li a:hover, header .navbar .nav-tabs li a:active, header .navbar .nav-tabs li a:focus
	{
		background: none;
		border: none;
		color: #111;
	}
	header .navbar .nav-tabs li:first-child
	{
		border-left: none;
	}
	header .navbar .nav-tabs li:last-child
	{
		border-right: none;
	}
	header .navbar .nav-tabs li:hover a, header .navbar .nav-tabs li.active a
	{
		color: #111;
		filter: alpha(opacity=100);
		opacity: 1;
	}
	header .navbar .nav-tabs li.active
	{
		background-color: #f0f2f4;
		background-image: linear-gradient(to bottom, #fff 0, #f0f2f4 100%);
		background-image: -webkit-linear-gradient(top, #fff 0, #f0f2f4 100%);
		background-repeat: repeat-x;
		border-bottom: 2px solid #f0f2f4;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f2f4', GradientType=0);
		margin-bottom: -2px;
	}
	header .navbar .tab-content ul
	{
		background: #f0f2f4;
		padding: 0 20px;
	}
	header .navbar .tab-content ul li
	{
		border-bottom: 1px solid #e5e8eb;
		border-top: 1px solid #fff;
	}
	header .navbar .tab-content ul li:first-child
	{
		border-top: none;
	}
	header .navbar .tab-content ul li:last-child
	{
		border-bottom: none;
	}
	header .navbar .tab-content ul li a
	{
		display: block;
		font-size: 18px;
		padding: 10px 5px;
		text-shadow: 0 1px 0 #fff;
	}
}
@media screen and (max-width: 480px)
{
	.header-top .link-contacto a
	{
		background: url(../img/icons.png) no-repeat -16px top;
		height: 16px;
		padding: 0;
		text-indent: -999em;
		width: 16px;
	}
	.header-top .link-contacto a:before
	{
		display: none;
	}
}
@media screen and (min-width: 768px)
{
	.main-header
	{
		margin: 0 0 40px 0;
	}
	.header-top
	{
		background-position: -195px center;
		font-size: 11px;
		padding-bottom: 7px;
		padding-top: 20px;
	}
	.header-top .cero-800
	{
		display: block;
		float: left;
		font-size: 13px;
	}
	.header-top .cero-800:before
	{
		background-position: left -16px;
		height: 16px;
		margin-right: 6px;
		vertical-align: -3px;
		width: 16px;
	}
	.header-top .cero-800 em
	{
		font-style: normal;
		font-weight: 700;
	}
	.header-top .user-account
	{
		float: right;
	}
	.header-top .user-account a.user-login
	{
		max-width: 12em;
	}
	/**/
	header .navbar
	{
		background-color: #fdfefe;
		background-image: linear-gradient(to right, #fff 0, #f0f2f4 100%);
		background-image: -webkit-linear-gradient(top, #fff 0, #f0f2f4 100%);
		background-repeat: repeat-x;
		border: 1px solid #d7d7d7;
		border-top: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f2f4', GradientType=0);
		height: 80px;
		moz-border-radius-topleft: 0;
		moz-border-radius-topright: 0;
		padding: 10px 20px;
		position: relative;
		webkit-border-top-left-radius: 0;
		webkit-border-top-right-radius: 0;

	}
	header .navbar .navbar-header
	{
		position: absolute;
		top: 12px;
	}
	header .navbar .navbar-header img
	{
		height: 50px;
		width: auto;
	}
	header .navbar .main-menu
	{
		float: left;
		margin-left: 150px;
	}
	header .navbar .nav-tabs
	{
		border: none;
		position: absolute;
		top: -34px;
	}
	header .navbar .nav-tabs li
	{
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		moz-border-radius-topleft: 4px;
		moz-border-radius-topright: 4px;
		webkit-border-top-left-radius: 4px;
		webkit-border-top-right-radius: 4px;
	}
	header .navbar .nav-tabs li a
	{
		border: none;
		color: #fff;
		font-size: 16px;
		letter-spacing: -0.025em;
		line-height: 24px;
		padding: 4px 16px 6px 16px;
		text-shadow: 0 1px 1px rgba(0,0,0,0.5);
		transition: none;
		webkit-transition: none;
	}
	header .navbar .nav-tabs li a:hover, header .navbar .nav-tabs li a:active, header .navbar .nav-tabs li a:focus
	{
		border: none;
	}
	header .navbar .nav-tabs li.active a
	{
		background-color: #fff;
		color: #111;
		font-weight: 700;
		padding: 5px 15px;
		text-shadow: none;
	}
	header .navbar .tab-content ul li
	{
		background: url(../img/nav-top-spacer.png) no-repeat left center;
		display: inline-block;
		margin-left: 8px;
		padding-left: 8px;
	}
	header .navbar .tab-content ul li:first-child
	{
		background: none;
		margin-left: 0;
		padding-left: 0;
	}
	header .navbar .tab-content ul li a
	{
		font-size: 14px;
		letter-spacing: -0.025em;
		line-height: 60px;
	}
	header .navbar .tab-content ul li a:hover
	{
		color: #f6303e;
	}
	header .navbar .search-bar
	{
		position: absolute;
		right: 20px;
		top: 25px;
	}
	header .navbar .search-bar .btn
	{
		background-color: #fdfefe;
		background-image: linear-gradient(to bottom, #fff 0, #e8e8e8 100%);
		background-image: -webkit-linear-gradient(top, #fff 0, #e8e8e8 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e8e8', GradientType=0);
		font-weight: 700;
		text-shadow: 0 1px 0 #fff;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px)
{
	.header-top .link-toggle-search,.header-top .link-contacto
	{
		position: absolute;
		top: 68px;
		z-index: 3;
	}
	.header-top .link-toggle-search a,.header-top .link-contacto a,.header-top .link-toggle-search button,.header-top .link-contacto button
	{
		background: url(../img/icons.png) no-repeat;
		background-color: transparent;
		border: 0;
		border-radius: 4px;
		color: transparent;
		display: block;
		filter: alpha(opacity=35);
		font: 0/0 a;
		height: 34px;
		moz-border-radius: 4px;
		opacity: .35;
		outline: none;
		outline-style: none;
		text-shadow: none;
		webkit-border-radius: 4px;
		width: 40px;
	}
	.header-top .link-toggle-search a:hover,.header-top .link-contacto a:hover,.header-top .link-toggle-search button:hover,.header-top .link-contacto button:hover,.header-top .link-toggle-search a:active,.header-top .link-contacto a:active,.header-top .link-toggle-search button:active,.header-top .link-contacto button:active,.header-top .link-toggle-search a:focus,.header-top .link-contacto a:focus,.header-top .link-toggle-search button:focus,.header-top .link-contacto button:focus
	{
		background-color: #f1f4f6;
		filter: alpha(opacity=100);
		opacity: 1;
	}
	.header-top .link-toggle-search
	{
		display: block;
		right: 70px;
	}
	.header-top .link-toggle-search button
	{
		background-position: left -74px;
	}
	.header-top .link-toggle-search button.active
	{
		background-position: left -34px;
	}
	.header-top .link-contacto
	{
		right: 20px;
	}
	.header-top .link-contacto a
	{
		background-position: left -146px;
	}
	.header-top .link-contacto a:before
	{
		display: none;
	}
	header .navbar .search-bar
	{
		left: 180px;
		position: absolute;
		width: 400px;
	}
	header .navbar .search-bar .navbar-form
	{
		display: none;
	}
	header .navbar .search-bar .navbar-form.visible
	{
		display: block;
	}
}
@media screen and (min-width: 992px)
{
	.header-top
	{
		background-position: -40px center;
		/* padding-bottom: 10px; */
		padding-top: 30px;
	}
	.header-top .cero-800
	{
		font-size: 14px;
	}
	.header-top .user-account
	{
		margin-right: 30px;
	}
	.header-top .user-account a.user-login
	{
		max-width: 14em;
	}
	header .navbar .main-menu
	{
		margin-left: 180px;
	}
	header .navbar .nav-tabs
	{
		top: -40px;
	}
	header .navbar .nav-tabs li a
	{
		font-size: 18px;
		padding: 6px 20px 10px 20px;
	}
	header .navbar .nav-tabs li.active a
	{
		padding: 8px 20px;
	}
	header .navbar .tab-content
	{
		display: block !important;
	}
	header .navbar .tab-content.hidden
	{
		display: block !important;
		visibility: visible !important;
	}
	header .navbar .tab-content ul li
	{
		margin-left: 10px;
		padding-left: 10px;
	}
	header .navbar .tab-content ul li a
	{
		font-size: 16px;
	}
	header .navbar .search-bar
	{
		width: 200px;
	}
	header .navbar .search-bar .navbar-form, header .navbar .search-bar .navbar-form.hidden
	{
		display: block !important;
		visibility: visible !important;
	}
	header .navbar .search-bar .input-group
	{
		width: 100%;
	}
	header .navbar .search-bar .search-field
	{
		background-color: #ebeced;
		border: 1px solid transparent;
		border-bottom-color: #fff;
		border-radius: 19px;
		moz-border-radius: 19px;
		padding-right: 40px;
		transition: all .25s ease-out;
		webkit-border-radius: 19px;
		webkit-transition: all .25s ease-out;
	}
	header .navbar .search-bar .search-field:focus
	{
		background-color: #fff;
		border-color: #dedfe1;
	}
	header .navbar .search-bar .input-group-btn
	{
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
		z-index: 3;
	}
	header .navbar .search-bar .btn
	{ur
		background: url(../img/icons.png) no-repeat left -112px;
		border: none;
		filter: alpha(opacity=35);
		height: 34px;
		opacity: .35;
		padding: 0;
		text-indent: -999em;
		width: 40px;
	}
	header .navbar .search-bar .btn:hover, header .navbar .search-bar .btn:active, header .navbar .search-bar .btn:focus
	{
		filter: alpha(opacity=100);
		opacity: 1;
	}
}


/* MENU LATERAL */
nav.navbar.navbar-side .accordion-toggle[aria-expanded="true"] span.aria-toggle
{
	display: none;
}

nav.navbar.navbar-side .accordion-toggle[aria-expanded="false"] span.aria-collapsed
{
	display: none;
}

/* PERSONALIZA TODOS LOS ELEMENTOS DEL MENU */
nav.navbar.navbar-side > *
{
	font-family: "FF Meta Web Pro","Helvetica Neue",Verdana,Arial,sans-serif;
	font-size: 12px;
}

nav.navbar.navbar-side
{
	border: 1px solid #ccc;
}

/* CEBECERA */
nav.navbar.navbar-side .navbar-header
{
	background-color: #f0f2f4;
	background-image: linear-gradient(to bottom, #fff 0, #f0f2f4 100%);
	background-image: -webkit-linear-gradient(top, #fff 0, #f0f2f4 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f2f4', GradientType=0);
	-moz-box-shadow:    0px 1px 1px 0px #ccc;
	-webkit-box-shadow: 0px 1px 1px 0px #ccc;
	box-shadow:         0px 1px 1px 0px #ccc;
	border: 1px solid #ccc;
}

nav.navbar.navbar-side .navbar-header .navbar-brand
{
	color: #666666;
	font-weight: bold;
	font-size: 12px;
}

/* ELEMENTOS */
nav.navbar.navbar-side .panel > *
{
	font-family: Verdana,Arial,sans-serif;
	font-size: 11px;
	color: #666666;
    font-style: italic;
}

nav.navbar.navbar-side
{
	background-color: #f0f2f4;
}

nav.navbar.navbar-side .panel span.text
{
	font-weight: bold;
}

nav.navbar.navbar-side .panel a
{
	color: #666666;
}




.navbar-side{

	/* box-shadow: -5px 5px 5px 4px #999; */
	font-family : cantv-italic;
	border-bottom-left-radius: 100% 20%;
	border-bottom-right-radius: 100% 20%;
	background-color:rgb(223, 227, 232);
	vertical-align: middle;

}


section#breadcrum {
    background-color: rgb(223, 227, 232);
    border-radius: 199px;
    width: 90%;
    margin-left: 30px;
    padding-left: 3%;
    padding-top: 1%
}
h3.gris {
    font-size: 24px;
}

nav.navbar.navbar-side .panel{
	background-color: transparent;
}
.panel {
    margin-bottom: 01px;
    background-color: #fff;
    border: 1px solid transparent;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 1px rgba(0,0,0,.05);
    box-shadow: 0 1px 1px rgba(0,0,0,.05);
}
.elemens {
	width: 25px;

}
nav.navbar.navbar-side .panel div {

    width: 100%;
    min-width: 205px;
    padding: 15px;

}
#logo {
    float: left;
    /* width: 20%; */
    height: 60px;
    /* background-image: url(../img/logo_cantv_c.png); */
    background-repeat: no-repeat;
    background-position: 0px 0px;
    padding-bottom: 4px;
}

#nav-xs-ver {
    width: 20%;
}
