/*MENU TOP*/
#menu-top {
	font-family:MetaMedium-Italic;
	height:28px;
	border-bottom:2px solid #003399;/*6699cc*/
	width:100%;
}
#menu-top:hover{
	border-bottom:2px solid #FF3333;
}
#menu-top ul {
	list-style-image:none;
	list-style-position:outside;
	list-style-type:none;
	float:left;
	margin-left:1px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	padding:0px;
	display: inline;
}
#menu-top li {
	float:left;
	text-align:center;
	display:block;
}
#menu-top li a{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	/* font-size: 1.5em; */
	font-size: 14px;
	float:left;
	display:block;
	height:25px;
	width:auto;
	text-align:center;
	border-top:1px solid #CCC;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	padding:2px 8px 0px 8px;
	background-color:#003399;/*#FFF;*/
	/* font-style: italic; */
}
#menu-top li a:hover,#menu-top li.selected a:hover{
	background-color:#FF3333;
	color:#FFF;
	text-decoration:none;
}
#menu-top li.selected a{
	background-color:#000099;/*003399;*/
	color:#FFF;
	text-decoration:none;
	font-weight:bold;
}
#menu-top a:link, a:visited, a:active {
	color: #FFF;/*#FFF;/*#666666;*/
	text-decoration: none;
}
