/* CSS Document */
/*MENU DET*/
.statusicon{ /*CSS for icon image that gets dynamically added to headers*/
	position: absolute;
	top: 5px;
	right: 5px;
	border: none;
}
#menu-left {
	font-family:MetaMedium-Italic;
	height:auto;
	width:200px;
	float:left;
	display:block;
	position:;
	top:8px !important;
	top:10px;
}
#menu-left #collapse-icon {
	text-align:left;
	padding-left:1px;
	width:9px;
	height:9px;
	cursor:pointer;
}
#menu-left .b-close {
	background-image:url(../img/collapse-icon-close.gif);
	background-position:right center;
	background-repeat:no-repeat;	
}
#menu-left .b-open {
	background-image:url(../img/collapse-icon-open.gif);
	background-position:right center;
	background-repeat:no-repeat;
}
#menu-left #nav_det {
	height:auto;
	width:200px;
	float:left;
}
#menu-left #content-panel {
	border-bottom:0px solid #003399;
	border-left:0px solid #003399;
	border-right:0px solid #003399;
	height:100%;
	width:auto;
}
#menu-left #content {
	text-align:left;
	padding:15px;
}
#menu-left #content div{
	text-align:left;
	padding:0px;
	margin:0px;
}
#menu-left #content div p p{
	text-align:left;
	padding-left:15px;
	margin-left:15px;
}
#menu-left .selected {
	font-weight:bold !important;
}
#menu-left #nav_det div {
/*	margin-top:5px;
	margin-left:5px;
	padding-right:5px;
	height:15px;
	width:100%;
	background: url(../img/collapse_cerradotrans.gif) no-repeat center right;
	height:5px;*/
}
#menu-left #nav_det ul {
	padding:5px 0px 0px 0px;
	margin-left:1px;
	margin-right:5px;
	margin-top:0px;
	margin-bottom:0px;
}
#menu-left #nav_det ul li {
	list-style-image:none;
	list-style-type:none;
	text-align:left;
	padding:0px 0px 5px 0px;
	background: url(../img/bk_botones_nav_interna.gif) repeat-x center left; /*custom bullet list image*/
}
#menu-left #nav_det ul li a,#nav_det ul li a:visited{
	display:block;
	height:16px;
	padding:4px 8px 1px;
	width:auto;
	text-align:left;
	background-color:#FF3333;
	color:#FFFFFF;
	font-weight:bold;
	text-decoration:none;
}
#menu-left .m-close {
	background-image:url(../img/submenuheader-close.gif);
	background-position:right center;
	background-repeat:no-repeat;	
}
#menu-left .m-open {
	background-image:url(../img/submenuheader-open.gif);
	background-position:right center;
	background-repeat:no-repeat;
}
#menu-left #nav_det ul li a.subitem,#menu-left #nav_det ul li a.subtiem:visited{
	height:15px;
	text-align:left;
	background-color:#FFF;
	color:#666;
	background: url(../img/bullet_punto.gif) no-repeat center left; /*custom bullet list image*/
	font-weight:normal;
	padding-left: 15px;
	margin-left:5px;
	display: block;
	position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
	width: auto;
}
#menu-left #nav_det ul li ul{
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	padding:0px 0px 0px 0px;
	border-left:1px solid #CCC;
	border-right:1px solid #CCC;
	border-bottom:1px solid #CCC;
}
#menu-left #nav_det ul li ul li{
	padding:0px 0px 0px 0px;

}
#menu-left #nav_det ul li ul li a,#menu-left #nav_det ul li ul li a:visited{
	height:15px;
	text-align:left;
	background-color:#FFF;
	color:#666;
	/*background: url(../img/bullet_punto.gif) no-repeat center left; /*custom bullet list image*/
	background: url(../img/flecha_navegacion_interna.gif) no-repeat center left; /*custom bullet list image*/
	font-weight:normal;
	padding-left: 15px;
	margin-left:5px;
	display: block;
	position: relative; /*To help in the anchoring of the ".statusicon" icon image*/
	width: auto;
}

#menu-left #nav_det a[name="submenu"]:hover,#menu-left #nav_det ul li ul li a:hover,
#menu-left #nav_det a.subitem:hover{
	text-decoration:underline;
}

#menu-left #nav_det a[name="submenu"],#menu-left #nav_det a[name="submenu"]:visited {
	background: url(../img/plus.gif) no-repeat left 5px; /*custom bullet list image*/
}
#menu-left #nav_det a[name="menuitem"].selected,#menu-left #nav_det a[name="submenu"].selected {
	font-weight:bold;
}

#menu-left .submenuheader:visible {
	font-weight:bold;
}
#menu-left #nav_det ul ul ul{
	margin-left:0px;
	margin-right:0px;
	margin-top:0px;
	margin-bottom:0px;
	padding:0 10px 0;
	border-width:0px;
}
#menu-left #nav_det ul li a[name="titulosubmenu"],#menu-left #nav_det ul li a[name="titulosubmenu"]:visited{
	-webkit-border-top-left-radius: 10px;
	-webkit-border-top-right-radius: 10px;
	-moz-border-radius-topleft: 10px;
	-moz-border-radius-topright: 10px;
	border-top-left-radius: 10px;
	border-top-right-radius: 10px;
	display:block;
	height:20px;
	padding: 4px 8px 1px;
	width:auto;
	text-align:center;
	background-color: rgb(243, 41, 56);
	/*background-color:#FF3333;*/
	color:#fff;
	font-size: 13px;
	/* font-style: italic; */
	font-weight:bold;
	text-decoration:none;
}
#menu_int li {
    list-style: none;
}




.texto_div p, ul {

    padding-bottom: 3px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 11px;
    font-style: normal;

}
.item_menu_li {
    margin: 0px;
    padding: 0px;
        padding-top: 0px;
        padding-right: 0px;
        padding-bottom: 0px;
        padding-left: 0px;
    display: block;
    _width: 218px;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    border-bottom-color: #CCCCCC;
}
