/* CSS Document */
table {
	border-collapse:collapse;
	border-width:0px;
	border-style:solid;
}
th {
	text-align:left;
	color:#FFFFFF;
	background-color:#FF3333;
	font-weight:bold;
	padding-left:5px;
	/*border:1px solid #FF3333;*/
	line-height: 20px;
	border-left:1px solid #FF3333;
}
th.titulo {
	text-align:left;
	color:#FFFFFF;
	background-color:#FF3333;
	font-weight:bold;
	padding-left:5px;
	border-left:1px solid #FF3333;
	border-right: 1px solid #FF3333;
    border-top: 1px solid #FF3333;
	height:20px;
}
tr {
	height:20px;
}
tr[id*="pare"] {
	background-color:#FFF2F2;
}
tr[id*="none"] {
	background-color:#ffffff;
}
tfoot table, tfoot table tr, tfoot table td {
	border:none;
	width:auto;
	text-align:center;
}
tfoot #tabla-ir-ini {
	background:url(../images/tabla/tabla-ir-ini.gif) no-repeat center center;
	width:16px;
	height:16px;
	cursor:pointer;
}
tfoot #tabla-ir-ant-pag {
	background:url(../images/tabla/tabla-ir-ant-pag.gif) no-repeat center center;
	width:16px;
	height:16px;
	cursor:pointer;
}
tfoot #tabla-ir-ant {
	background:url(../images/tabla/tabla-ir-ant.gif) no-repeat center center;
	width:16px;
	height:16px;
	cursor:pointer;
}
tfoot #tabla-ir-sig {
	background:url(../images/tabla/tabla-ir-sig.gif) no-repeat center center;
	width:16px;
	height:16px;
	cursor:pointer;
}
tfoot #tabla-ir-sig-pag {
	background:url(../images/tabla/tabla-ir-sig-pag.gif) no-repeat center center;
	width:16px;
	height:16px;
	cursor:pointer;
}
tfoot #tabla-ir-fin {
	background:url(../images/tabla/tabla-ir-fin.gif) no-repeat center center;
	width:16px;
	height:16px;
	cursor:pointer;
}
table table td {
	width:auto;
	padding:2px;
	text-align:center;
}
tfoot table td input[type="text"].filtro {
	height:12px;
	margin-right:0px;
}
td {
	/*padding:2px 5px 2px 5px;*/
	padding:0px 5px 0px 5px;
	margin:0px;
	border:1px solid #CCC;
}

td.tituloColumna {
	/*padding:2px 5px 2px 5px;*/
	padding:0px 5px 0px 5px;
	margin:0px;
	border:1px solid #CCCCCC;
	background-color:#EEEEEE;
	font-weight:bold;
	text-align:center;
}

td.tituloColumnaD {
	/***padding:2px 5px 2px 5px;****/
	padding:0px 5px 0px 5px;
	margin:0px;
	border:1px solid #CCCCCC;
	background-color:#EEEEEE;
	font-weight:bold;
	text-align:left;
}
th[scope="row"] {
	text-align:center;
	width:20px;
	color:#666666;
	background-color:#ffffff;
	font-weight:normal;
	vertical-align:middle;
	padding-left:0px;
	border:1px solid #cccccc;
}
th[scope="col"] {
	text-align:center;
	width:auto;
	color:#666666;
	background-color:#eeeeee;
	font-weight:bold;
	border:1px solid #cccccc;
}
table tfoot {
    background-color: #FF3333;
    color: #FFFFFF;
    font-weight: normal;
    height: 16px;
    text-align: left;
}
table tfoot tr td {
    padding: 1px;
    border-right:  1px solid #CCCCCC;
    border-left:  1px solid #CCCCCC;
    border-bottom: 1px solid #CCCCCC;
}
table input[type="text"] {
	margin:0px;
	padding:0px;
	width:100%;
	text-align:center;
	border:1px solid #eeeeee;
}
table a:link, table a:visited, table a:active {
	color: #666666;
	text-decoration: underline;
	font-weight:normal;
}
table a:hover {
	text-decoration: underline;
	color: #FF3333;
	font-weight:normal;	
}
table#noestilo td {
    padding: 0;
}
table#noestilo input {
    border: 1px solid #999999;
    padding-left: 5px;
	margin:0;
    text-align: left;
}

table tfoot a:link, table tfoot a:visited, table tfoot a:active {
    color: #FFFFFF;
}
table tfoot td { color: #FFFFFF; }

table thead input[type="text"] {
			float: right;
		}
		
		