.col-xs-5t,.col-sm-5t,.col-md-5t,.col-lg-5t
{
	min-height: 1px;
	padding-left: 15px;
	padding-right: 15px;
	position: relative;
}
.col-xs-5t
{
	float: left;
	width: 20%;
}
@media screen and (min-width: 768px)
{
	.col-sm-5t
	{
		float: left;
		width: 20%;
	}
}
@media screen and (min-width: 992px)
{
	.col-md-5t
	{
		float: left;
		width: 20%;
	}
}
body
{
	font-family: "FF Meta Web Pro","Helvetica Neue",Helvetica,Arial,sans-serif;
}
a
{
	color: #1e498f;
	transition: all .25s ease-out;
	webkit-transition: all .25s ease-out;
}
.row
{
	margin-bottom: 30px;
}
.icon-container:before
{
	background: url(../img/icons.png) no-repeat left top;
	content: " ";
	display: inline-block;
}
.block .block-title
{
	border-bottom: 2px solid #fad000;
	color: #1442a2;
	font-size: 16px;
	font-weight: 700;
	line-height: 1em;
	margin: 0 0 15px 0;
	padding-bottom: 10px;
}
.block.well
{
	background: none;
	box-shadow: none;
	webkit-box-shadow: none;
}
.block.well .block-title
{
	margin: -5px -20px 15px 0;
}
.block.block-gray
{
	background: #f1f4f6;
	border-radius: 4px;
	moz-border-radius: 4px;
	padding: 15px 20px;
	webkit-border-radius: 4px;
}
.block.block-menu .nav
{
	font-family: Verdana,Tahoma,Arial,sans-serif;
	font-size: 14px;
}
.block.block-menu .nav li
{
	padding-top: 10px;
}
.block.block-menu .nav li:first-child
{
	padding-top: 0;
}
.block.block-menu .nav li a
{
	background: url(../img/pointer-arrow-small.png) no-repeat left 5px;
	margin: 0;
	padding: 0 0 0 18px;
}
.block.block-menu .nav li a:hover
{
	text-decoration: underline;
}
.banner-block
{
	text-align: center;
}
.banner-block img
{
	display: block;
	display: inline-block;
	height: auto;
	max-width: 100%;
	ms-interpolation-mode: bicubic;
}
.redes-sociales-float
{
	display: none;
}
#back-to-top
{
	background: url(../img/bg-trns-black-30.png) no-repeat center;
	border-top-left-radius: 4px;
	bottom: 0;
	display: none;
	moz-border-radius-topleft: 4px;
	position: fixed;
	right: 0;
	webkit-border-top-left-radius: 4px;
	z-index: 99;
}
#back-to-top:hover
{
	background: #1442a2;
}
#back-to-top a
{
	background: url(../img/icons.png) no-repeat center -340px;
	border: 0 none;
	display: block;
	height: 40px;
	text-decoration: none;
	width: 42px;
}
@media screen and (max-width: 767px)
{
	.banner-block
	{
		margin-bottom: 30px;
	}
}
@media screen and (min-width: 768px)
{
	.row
	{
		margin-bottom: 60px;
	}
	.block.block-menu .nav
	{
		font-size: 12px;
	}
	.block.block-menu .nav li a
	{
		background-position: left 4px;
	}
	.redes-sociales-float
	{
		bottom: 0;
		display: block;
		left: 0;
		position: fixed;
		z-index: 99;
	}
	.redes-sociales-float ul
	{
		background: #ebeced;
		border: 1px solid #fff;
		list-style: none;
		margin: 0;
		padding: 8px;
	}
	.redes-sociales-float ul li a
	{
		background: url(../img/icons.png) no-repeat left top;
		background-color: transparent;
		border: 0;
		border: 1px solid #fff;
		color: transparent;
		display: block;
		font: 0/0 a;
		height: 30px;
		overflow: hidden;
		text-shadow: none;
		width: 30px;
	}
	.redes-sociales-float ul li a.twitter
	{
		background-position: left -220px;
	}
	.redes-sociales-float ul li a.facebook
	{
		background-position: left -250px;
	}
	.redes-sociales-float ul li a.googleplus
	{
		background-position: left -280px;
	}
	.redes-sociales-float ul li a.youtube
	{
		background-position: left -310px;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px)
{
	.redes-sociales-float ul
	{
		border-bottom: none;
		border-top-left-radius: 5px;
		border-top-right-radius: 5px;
		moz-border-radius-topleft: 5px;
		moz-border-radius-topright: 5px;
		webkit-border-top-left-radius: 5px;
		webkit-border-top-right-radius: 5px;
	}
	.redes-sociales-float ul li
	{
		display: inline-block;
		margin-left: 10px;
		vertical-align: bottom;
	}
	.redes-sociales-float ul li:first-child
	{
		margin-left: 0;
	}
	#back-to-top
	{
		border-radius: 4px;
		bottom: 10px;
		moz-border-radius: 4px;
		right: 10px;
		webkit-border-radius: 4px;
	}
}
@media screen and (min-width: 992px)
{
	.block .block-title
	{
		font-size: 18px;
	}
	.block.block-menu .nav
	{
		font-size: 13px;
	}
	.block.block-menu .nav li
	{
		padding-top: 5px;
	}
	.block.block-menu .nav li a
	{
		background-position: left 5px;
	}
	.redes-sociales-float
	{
		left: auto;
		margin-top: -83px;
		right: 0;
		top: 50%;
	}
	.redes-sociales-float ul
	{
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 0;
		border-left: 1px solid #fff;
		border-right: none;
		border-top-left-radius: 5px;
		border-top-right-radius: 0;
		moz-border-radius-bottomleft: 5px;
		moz-border-radius-bottomright: 0;
		moz-border-radius-topleft: 5px;
		moz-border-radius-topright: 0;
		webkit-border-bottom-left-radius: 5px;
		webkit-border-bottom-right-radius: 0;
		webkit-border-top-left-radius: 5px;
		webkit-border-top-right-radius: 0;
	}
	.redes-sociales-float ul li
	{
		margin-top: 10px;
	}
	.redes-sociales-float ul li:first-child
	{
		margin-top: 0;
	}
	#back-to-top
	{
		display: none !important;
	}
}
.form-control
{
	box-shadow: none;
	webkit-box-shadow: none;
}
.form-control:focus
{
	border-color: #bbb;
	box-shadow: none;
	webkit-box-shadow: none;
}
.carousel.fade
{
	opacity: 1;
}
.carousel.fade .item
{
	display: block !important;
	filter: alpha(opacity=0);
	height: 100%;
	left: 0;
	opacity: 0;
	position: absolute;
	top: 0;
	transition: opacity ease-in-out .8s;
	webkit-transition: opacity ease-in-out .8s;
	width: 100%;
}
.carousel.fade .item.active
{
	filter: alpha(opacity=100);
	opacity: 1;
	position: relative;
	top: auto;
	z-index: 1;
}
.carousel-control
{
	text-shadow: none;
	z-index: 3;
}
.carousel-control.left,.carousel-control.right
{
	background: none;
}
.carousel-control a
{
	outline-style: none;
	outline-width: 0;
}
.panel-group .panel
{
	border: none;
	box-shadow: none;
	webkit-box-shadow: none;
}
.panel-group .panel-heading
{
	border-top: none;
	padding: 0;
}
.panel-group .panel-heading a
{
	background-color: #ebeced;
	background-image: linear-gradient(to bottom, #f4f4f4 0, #dfdfdf 100%);
	background-image: -webkit-linear-gradient(top, #f4f4f4 0, #dfdfdf 100%);
	background-repeat: repeat-x;
	color: #111;
	display: block;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff4f4f4', endColorstr='#ffdfdfdf', GradientType=0);
	font-size: 16px;
	letter-spacing: -0.025em;
	padding: 8px 16px;
	text-decoration: none;
}
.panel-group .panel-heading a:before
{
	background-position: left top;
	height: 16px;
	margin-right: 0;
	vertical-align: 0;
	width: 16px;
}
.panel-group .panel-heading a:before
{
	float: right;
	margin-top: 4px;
}
.panel-group .panel-heading a:hover,.panel-group .panel-heading a:active,.panel-group .panel-heading a:focus
{
	background-color: #ebeced;
	background-image: linear-gradient(to bottom, #f1f4f6 0, #d6d6d6 100%);
	background-image: -webkit-linear-gradient(top, #f1f4f6 0, #d6d6d6 100%);
	background-repeat: repeat-x;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1f4f6', endColorstr='#ffd6d6d6', GradientType=0);
}
.panel-group .panel-heading+.panel-collapse .panel-body
{
	border-top-color: #ccc;
}
.panel-group .panel-body
{
	background-color: #f1f4f6;
	padding: 0 15px;
}
.panel-group .panel-body .nav li
{
	border-top: 1px dotted #dedfe1;
}
.panel-group .panel-body .nav li:first-child
{
	border-top: none;
}
.panel-group .panel-body .nav li a
{
	background: url(../img/pointer-arrow-gray.png) no-repeat left center;
	font-family: Verdana,Tahoma,Arial,sans-serif;
	font-size: 14px;
	padding: 12px 0 12px 14px;
}
.popover
{
	background-color: #f1f4f6;
	background-image: linear-gradient(to bottom, #f1f4f6 0, #ebeced 100%);
	background-image: -webkit-linear-gradient(top, #f1f4f6 0, #ebeced 100%);
	background-repeat: repeat-x;
	border-radius: 4px;
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff1f4f6', endColorstr='#ffebeced', GradientType=0);
	font-family: Verdana,Tahoma,Arial,sans-serif;
	font-size: 13px;
	line-height: 1.35em;
	moz-border-radius: 4px;
	webkit-border-radius: 4px;
}
.popover .popover-content
{
	padding: 12px 15px;
}
.popover.left>.arrow:after
{
	border-left-color: #f2f2f3;
}
@media screen and (min-width: 768px)
{
	.panel-group .panel-heading a
	{
		font-size: 15px;
		padding: 6px 10px;
	}
	.panel-group .panel-heading a:before
	{
		margin-top: 2px;
	}
	.panel-group .panel-body .nav li a
	{
		font-size: 12px;
		padding-bottom: 10px;
		padding-top: 10px;
	}
}
.main-header
{
	margin-bottom: 20px;
	margin-left: -15px;
	margin-right: -15px;
}
.barra-gbv
{
	display: none;
}
.header-top
{
	background: #f6303e url(../img/bg-header.png) no-repeat -360px center;
	border-bottom: 2px solid #fad000;
	color: #fff;
	font-size: 12px;
	line-height: 16px;
	padding: 10px 15px;
	position: relative;
}
.header-top:before,.header-top:after
{
	content: " ";
	display: table;
}
.header-top:after
{
	clear: both;
}
.header-top a
{
	color: #fff;
}
.header-top .cero-800
{
	display: none;
}
.header-top .user-account
{
	float: left;
	font-family: Verdana,Tahoma,Arial,sans-serif;
}
.header-top .user-account a
{
	border-left: 1px solid #fff;
	display: inline-block;
	line-height: 16px;
	margin-left: 8px;
	padding-left: 8px;
	vertical-align: bottom;
}
.header-top .user-account a:first-child
{
	border-left: none;
	margin-left: 0;
}
.header-top .user-account a.user-login
{
	max-width: 16em;
	overflow: hidden;
	text-overflow: ellipsis;
	white-space: nowrap;
}
.header-top .user-account a.user-login:before
{
	background-position: -16px -16px;
	height: 16px;
	margin-right: 5px;
	vertical-align: -4px;
	width: 16px;
}
.header-top .link-toggle-search
{
	display: none;
}
.header-top .link-contacto a
{
	float: right;
	font-family: Verdana,Tahoma,Arial,sans-serif;
}
.header-top .link-contacto a:before
{
	background-position: -16px top;
	height: 16px;
	margin-right: 6px;
	vertical-align: -4px;
	width: 16px;
}
.navbar
{
	border: none;
	border-bottom: 1px solid #e9e9e9;
	margin: 0;
	padding: 0;
}
.navbar .navbar-toggle
{
	background: url(../img/icons.png) no-repeat 3px -32px;
	border: none;
	filter: alpha(opacity=50);
	height: 40px;
	margin: 0;
	opacity: .5;
	padding: 0;
	width: 46px;
}
.navbar .navbar-toggle:hover,.navbar .navbar-toggle:active,.navbar .navbar-toggle:focus
{
	filter: alpha(opacity=100);
	opacity: 1;
}
.navbar .navbar-toggle.toggle-search
{
	background-position: 3px -72px;
	margin-right: 10px;
}
.navbar .navbar-collapse
{
	border: none;
	margin: 0;
	padding: 0;
}
.navbar .navbar-brand
{
	height: auto;
	margin: 0;
	padding: 0;
}
.navbar .navbar-brand img
{
	width: auto;
}
.navbar .navbar-form
{
	border: none;
	margin: 0 !important;
	padding: 0;
}
.navbar .nav-tabs li a
{
	background: none;
	margin: 0;
	padding: 0;
}
.navbar .nav-tabs li a:hover,.navbar .nav-tabs li a:active,.navbar .nav-tabs li a:focus
{
	outline-style: none;
	outline-width: 0;
}
.navbar .tab-content ul
{
	list-style: none;
	margin: 0;
	padding: 0;
}
.navbar .main-menu a
{
	color: #111;
	text-decoration: none;
}
@media screen and (max-width: 767px)
{
	.navbar-header
	{
		background-color: #fdfefe;
		background-image: linear-gradient(to bottom, #fff 0, #f0f2f4 100%);
		background-image: -webkit-linear-gradient(top, #fff 0, #f0f2f4 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f2f4', GradientType=0);
		padding: 10px 15px;
	}
	.navbar
	{
		background: #f0f2f4;
	}
	.navbar .navbar-brand img
	{
		height: 40px;
		width: auto;
	}
	.navbar .navbar-collapse
	{
		border-top: 1px solid #dedfe0;
		margin: 0;
	}
	.navbar .search-bar form
	{
		border-top: 1px solid #fff;
		padding: 10px 15px;
	}
	.navbar .search-bar form .btn
	{
		background-color: #fdfefe;
		background-image: linear-gradient(to bottom, #fff 0, #e8e8e8 100%);
		background-image: -webkit-linear-gradient(top, #fff 0, #e8e8e8 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e8e8', GradientType=0);
		font-weight: 700;
		text-shadow: 0 1px 0 #fff;
		z-index: 2;
	}
	.navbar .nav-tabs
	{
		border: none;
		border-top: 1px solid #fff;
		display: table;
		font-size: 0;
		width: 100%;
	}
	.navbar .nav-tabs li
	{
		background-color: #dedfe0;
		background-image: linear-gradient(to bottom, #dedfe0 0, #e6e7e8 100%);
		background-image: -webkit-linear-gradient(top, #dedfe0 0, #e6e7e8 100%);
		background-repeat: repeat-x;
		border: none;
		border-bottom: 1px solid #dedfe0;
		border-left: 1px solid #f1f2f2;
		border-right: 1px solid #d5d7d8;
		display: table-cell;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffdedfe0', endColorstr='#ffe6e7e8', GradientType=0);
		float: none;
		padding: 0 10px;
		text-align: center;
	}
	.navbar .nav-tabs li a
	{
		border: none;
		border-radius: 0;
		filter: alpha(opacity=50);
		font-size: 16px;
		font-weight: 700;
		letter-spacing: -0.025em;
		moz-border-radius: 0;
		opacity: .5;
		padding: 15px 0;
		text-shadow: 0 1px 0 #fff;
		webkit-border-radius: 0;
	}
	.navbar .nav-tabs li a:before
	{
		display: block;
		height: 24px;
		margin: 0 auto;
		width: 24px;
	}
	.navbar .nav-tabs li a:hover,.navbar .nav-tabs li a:active,.navbar .nav-tabs li a:focus
	{
		border: none;
	}
	.navbar .nav-tabs li a:hover,.navbar .nav-tabs li a:active,.navbar .nav-tabs li a:focus
	{
		background: none;
		border: none;
		color: #111;
	}
	.navbar .nav-tabs li:first-child
	{
		border-left: none;
	}
	.navbar .nav-tabs li:last-child
	{
		border-right: none;
	}
	.navbar .nav-tabs li:hover a,.navbar .nav-tabs li.active a
	{
		color: #111;
		filter: alpha(opacity=100);
		opacity: 1;
	}
	.navbar .nav-tabs li.active
	{
		background-color: #f0f2f4;
		background-image: linear-gradient(to bottom, #fff 0, #f0f2f4 100%);
		background-image: -webkit-linear-gradient(top, #fff 0, #f0f2f4 100%);
		background-repeat: repeat-x;
		border-bottom: 2px solid #f0f2f4;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f2f4', GradientType=0);
		margin-bottom: -2px;
	}
	.navbar .tab-content ul
	{
		background: #f0f2f4;
		padding: 0 20px;
	}
	.navbar .tab-content ul li
	{
		border-bottom: 1px solid #e5e8eb;
		border-top: 1px solid #fff;
	}
	.navbar .tab-content ul li:first-child
	{
		border-top: none;
	}
	.navbar .tab-content ul li:last-child
	{
		border-bottom: none;
	}
	.navbar .tab-content ul li a
	{
		display: block;
		font-size: 18px;
		padding: 10px 5px;
		text-shadow: 0 1px 0 #fff;
	}
}
@media screen and (max-width: 480px)
{
	.header-top .link-contacto a
	{
		background: url(../img/icons.png) no-repeat -16px top;
		height: 16px;
		padding: 0;
		text-indent: -999em;
		width: 16px;
	}
	.header-top .link-contacto a:before
	{
		display: none;
	}
}
@media screen and (min-width: 768px)
{
	.main-header
	{
		margin: 0 0 40px 0;
	}
	.barra-gbv
	{
		display: block;
		padding: 10px 0 7px 0;
	}
	.barra-gbv:before,.barra-gbv:after
	{
		content: " ";
		display: table;
	}
	.barra-gbv:after
	{
		clear: both;
	}
	.barra-gbv img
	{
		display: block;
		height: auto;
		max-width: 100%;
		ms-interpolation-mode: bicubic;
	}
	.barra-gbv .logo-gbv
	{
		float: left;
		max-width: 320px;
	}
	.barra-gbv .logo-id
	{
		float: right;
	}
	.header-top
	{
		background-position: -195px center;
		font-size: 11px;
		padding-bottom: 7px;
		padding-top: 20px;
	}
	.header-top .cero-800
	{
		display: block;
		float: left;
		font-size: 13px;
	}
	.header-top .cero-800:before
	{
		background-position: left -16px;
		height: 16px;
		margin-right: 6px;
		vertical-align: -3px;
		width: 16px;
	}
	.header-top .cero-800 em
	{
		font-style: normal;
		font-weight: 700;
	}
	.header-top .user-account
	{
		float: right;
	}
	.header-top .user-account a.user-login
	{
		max-width: 12em;
	}
	.navbar
	{
		background-color: #fdfefe;
		background-image: linear-gradient(to right, #fff 0, #f0f2f4 100%);
		background-image: -webkit-linear-gradient(top, #fff 0, #f0f2f4 100%);
		background-repeat: repeat-x;
		border: 1px solid #d7d7d7;
		border-top: none;
		border-top-left-radius: 0;
		border-top-right-radius: 0;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#fff0f2f4', GradientType=0);
		height: 80px;
		moz-border-radius-topleft: 0;
		moz-border-radius-topright: 0;
		padding: 10px 20px;
		position: relative;
		webkit-border-top-left-radius: 0;
		webkit-border-top-right-radius: 0;
	}
	.navbar .navbar-header
	{
		position: absolute;
		top: 15px;
	}
	.navbar .navbar-header img
	{
		height: 50px;
		width: auto;
	}
	.navbar .main-menu
	{
		float: left;
		margin-left: 150px;
	}
	.navbar .nav-tabs
	{
		border: none;
		position: absolute;
		top: -34px;
	}
	.navbar .nav-tabs li
	{
		border-top-left-radius: 4px;
		border-top-right-radius: 4px;
		moz-border-radius-topleft: 4px;
		moz-border-radius-topright: 4px;
		webkit-border-top-left-radius: 4px;
		webkit-border-top-right-radius: 4px;
	}
	.navbar .nav-tabs li a
	{
		border: none;
		color: #fff;
		font-size: 16px;
		letter-spacing: -0.025em;
		line-height: 24px;
		padding: 4px 16px 6px 16px;
		text-shadow: 0 1px 1px rgba(0,0,0,0.5);
		transition: none;
		webkit-transition: none;
	}
	.navbar .nav-tabs li a:hover,.navbar .nav-tabs li a:active,.navbar .nav-tabs li a:focus
	{
		border: none;
	}
	.navbar .nav-tabs li.active a
	{
		background-color: #fff;
		color: #111;
		font-weight: 700;
		padding: 5px 15px;
		text-shadow: none;
	}
	.navbar .tab-content ul li
	{
		background: url(../img/nav-top-spacer.png) no-repeat left center;
		display: inline-block;
		margin-left: 8px;
		padding-left: 8px;
	}
	.navbar .tab-content ul li:first-child
	{
		background: none;
		margin-left: 0;
		padding-left: 0;
	}
	.navbar .tab-content ul li a
	{
		font-size: 14px;
		letter-spacing: -0.025em;
		line-height: 60px;
	}
	.navbar .tab-content ul li a:hover
	{
		color: #f6303e;
	}
	.navbar .search-bar
	{
		position: absolute;
		right: 20px;
		top: 25px;
	}
	.navbar .search-bar .btn
	{
		background-color: #fdfefe;
		background-image: linear-gradient(to bottom, #fff 0, #e8e8e8 100%);
		background-image: -webkit-linear-gradient(top, #fff 0, #e8e8e8 100%);
		background-repeat: repeat-x;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffe8e8e8', GradientType=0);
		font-weight: 700;
		text-shadow: 0 1px 0 #fff;
	}
}
@media screen and (min-width: 768px) and (max-width: 991px)
{
	.header-top .link-toggle-search,.header-top .link-contacto
	{
		position: absolute;
		top: 68px;
		z-index: 3;
	}
	.header-top .link-toggle-search a,.header-top .link-contacto a,.header-top .link-toggle-search button,.header-top .link-contacto button
	{
		background: url(../img/icons.png) no-repeat;
		background-color: transparent;
		border: 0;
		border-radius: 4px;
		color: transparent;
		display: block;
		filter: alpha(opacity=35);
		font: 0/0 a;
		height: 34px;
		moz-border-radius: 4px;
		opacity: .35;
		outline: none;
		outline-style: none;
		text-shadow: none;
		webkit-border-radius: 4px;
		width: 40px;
	}
	.header-top .link-toggle-search a:hover,.header-top .link-contacto a:hover,.header-top .link-toggle-search button:hover,.header-top .link-contacto button:hover,.header-top .link-toggle-search a:active,.header-top .link-contacto a:active,.header-top .link-toggle-search button:active,.header-top .link-contacto button:active,.header-top .link-toggle-search a:focus,.header-top .link-contacto a:focus,.header-top .link-toggle-search button:focus,.header-top .link-contacto button:focus
	{
		background-color: #f1f4f6;
		filter: alpha(opacity=100);
		opacity: 1;
	}
	.header-top .link-toggle-search
	{
		display: block;
		right: 70px;
	}
	.header-top .link-toggle-search button
	{
		background-position: left -74px;
	}
	.header-top .link-toggle-search button.active
	{
		background-position: left -34px;
	}
	.header-top .link-contacto
	{
		right: 20px;
	}
	.header-top .link-contacto a
	{
		background-position: left -146px;
	}
	.header-top .link-contacto a:before
	{
		display: none;
	}
	.navbar .search-bar
	{
		left: 180px;
		position: absolute;
		width: 400px;
	}
	.navbar .search-bar .navbar-form
	{
		display: none;
	}
	.navbar .search-bar .navbar-form.visible
	{
		display: block;
	}
}
@media screen and (min-width: 992px)
{
	.header-top
	{
		background-position: -40px center;
		/* padding-bottom: 10px; */
		padding-top: 30px;
	}
	.header-top .cero-800
	{
		font-size: 14px;
	}
	.header-top .user-account
	{
		margin-right: 30px;
	}
	.header-top .user-account a.user-login
	{
		max-width: 14em;
	}
	.navbar .main-menu
	{
		margin-left: 180px;
	}
	.navbar .nav-tabs
	{
		top: -40px;
	}
	.navbar .nav-tabs li a
	{
		font-size: 18px;
		padding: 6px 20px 10px 20px;
	}
	.navbar .nav-tabs li.active a
	{
		padding: 8px 20px;
	}
	.navbar .tab-content
	{
		display: block !important;
	}
	.navbar .tab-content.hidden
	{
		display: block !important;
		visibility: visible !important;
	}
	.navbar .tab-content ul li
	{
		margin-left: 10px;
		padding-left: 10px;
	}
	.navbar .tab-content ul li a
	{
		font-size: 16px;
	}
	.navbar .search-bar
	{
		width: 200px;
	}
	.navbar .search-bar .navbar-form,.navbar .search-bar .navbar-form.hidden
	{
		display: block !important;
		visibility: visible !important;
	}
	.navbar .search-bar .input-group
	{
		width: 100%;
	}
	.navbar .search-bar .search-field
	{
		background-color: #ebeced;
		border: 1px solid transparent;
		border-bottom-color: #fff;
		border-radius: 19px;
		moz-border-radius: 19px;
		padding-right: 40px;
		transition: all .25s ease-out;
		webkit-border-radius: 19px;
		webkit-transition: all .25s ease-out;
	}
	.navbar .search-bar .search-field:focus
	{
		background-color: #fff;
		border-color: #dedfe1;
	}
	.navbar .search-bar .input-group-btn
	{
		position: absolute;
		right: 0;
		top: 0;
		width: auto;
		z-index: 3;
	}
	.navbar .search-bar .btn
	{
		background: url(../img/icons.png) no-repeat left -112px;
		border: none;
		filter: alpha(opacity=35);
		height: 34px;
		opacity: .35;
		padding: 0;
		text-indent: -999em;
		width: 40px;
	}
	.navbar .search-bar .btn:hover,.navbar .search-bar .btn:active,.navbar .search-bar .btn:focus
	{
		filter: alpha(opacity=100);
		opacity: 1;
	}
}
.main-footer
{
	background-color: #f1f4f6;
	/* padding-top: 20px; */
}
.main-footer .row .row
{
	margin-bottom: 0;
}
.footer-menus .block-menu
{
	border: none;
	margin: 0;
	padding: 0;
}
.footer-menus .block-menu .block-title
{
	border: none;
	color: #111;
	font-size: 16px;
	margin: 0;
	padding: 0;
}
.footer-menus .block-menu .block-title a
{
	text-decoration: none;
}
.footer-menus .block-menu .nav li a
{
	background: none;
	padding-left: 0;
}
.footer-logos
{
	background-color: #ebeced;
	border-top-left-radius: 4px;
	border-top-right-radius: 4px;
	moz-border-radius-topleft: 4px;
	moz-border-radius-topright: 4px;
	padding: 15px;
	text-align: center;
	webkit-border-top-left-radius: 4px;
	webkit-border-top-right-radius: 4px;
}
.footer-info
{
	background-color: #f6303e;
	border-top: 2px solid #fad000;
	color: #fcc1c5;
	font-family: Verdana,Tahoma,Arial,sans-serif;
	font-size: 11px;
	padding: 15px;
}
.footer-info:before,.footer-info:after
{
	content: " ";
	display: table;
}
.footer-info:after
{
	clear: both;
}
.footer-info a
{
	color: #fcc1c5;
}
.footer-info a:hover,.footer-info a:active
{
	color: #fff;
}
.footer-info strong
{
	color: #fff;
}
.footer-info .footer-info-left,.footer-info .footer-info-right
{
	margin: 7px 0;
	text-align: center;
}
@media screen and (max-width: 767px)
{
	.main-footer>.container
	{
		padding: 0;
	}
	.main-footer>.container .row
	{
		margin-left: 0;
		margin-right: 0;
	}
	.footer-menus .block-menu .block-title
	{
		font-size: 18px;
		font-weight: 400;
		margin-bottom: 5px;
		padding: 0 20px;
		text-align: center;
	}
	.footer-menus .block-menu .block-title a
	{
		background-color: #fdfefe;
		background-image: linear-gradient(to bottom, #fdfefe 0, #f0f2f4 100%);
		background-image: -webkit-linear-gradient(top, #fdfefe 0, #f0f2f4 100%);
		background-repeat: repeat-x;
		border: 1px solid #ddd;
		border-radius: 4px;
		display: block;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fffdfefe', endColorstr='#fff0f2f4', GradientType=0);
		moz-border-radius: 4px;
		padding: 10px;
		webkit-border-radius: 4px;
	}
	.footer-menus .block-menu .block-title a:hover,.footer-menus .block-menu .block-title a:active
	{
		background-color: #f0f2f4;
		background-image: linear-gradient(to bottom, #f0f2f4 0, #e9e9e9 100%);
		background-image: -webkit-linear-gradient(top, #f0f2f4 0, #e9e9e9 100%);
		background-repeat: repeat-x;
		color: #111;
		filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0f2f4', endColorstr='#ffe9e9e9', GradientType=0);
	}
	.footer-logos a
	{
		border-top: 1px solid #ddd;
		display: block;
		margin-top: 10px;
		padding-top: 10px;
	}
	.footer-logos a:first-child
	{
		border-top: none;
		margin-top: 0;
		padding-top: 0;
	}
}
@media screen and (min-width: 768px)
{
	.main-footer
	{
		/* padding-top: 40px; */
	}
	.footer-menus .block-menu .block-title
	{
		background: url(../img/pointer-arrow-blue.png) no-repeat left top;
		border-bottom: 1px dotted #ccc;
		font-size: 13px;
		line-height: 14px;
		margin-bottom: 15px;
		padding: 0 0 10px 20px;
	}
	.footer-menus .block-menu .block-title a
	{
		color: #111;
	}
	.footer-menus .block-menu .nav li a
	{
		color: #999;
		font-size: 10px;
	}
	.footer-menus .block-menu .nav li a:hover,.footer-menus .block-menu .nav li a:active
	{
		color: #111;
	}
	.footer-logos
	{
		padding: 20px 0 15px 0;
	}
	.footer-logos a
	{
		display: inline-block;
		margin: 0 20px;
		vertical-align: top;
	}
}
@media screen and (min-width: 992px)
{
	.footer-menus .block-menu .block-title
	{
		background-position: left 1px;
		font-size: 14px;
	}
	.footer-menus .block-menu .nav
	{
		padding-left: 5px;
	}
	.footer-menus .block-menu .nav li
	{
		padding-top: 10px;
	}
	.footer-menus .block-menu .nav li a
	{
		color: #666;
		font-size: 11px;
	}
	.footer-info .footer-info-left
	{
		float: left;
	}
	.footer-info .footer-info-right
	{
		float: right;
	}
}