/* CSS Document */
span[id*="outputText"]::after,span[id*="xText"]::after{
	content:"*";
	color:#FF3333;
	font-weight:bold;
}
table.Tbl_sun4 a,table.Tbl_sun4 a:link, table.Tbl_sun4 a:visited,table.Tbl_sun4 a:active{
        font-family: Verdana;
    color: #666666;
        text-decoration: underline;
}
table.Tbl_sun4 a:hover
{
    text-decoration: underline;
    color: #FF3333;
}


table.Tbl_sun4 th.TblColHdr_sun4
{
    background-color:#EEEEEE;
}

table.TblLt_sun4 .TblHdrTxt_sun4
{
    background-color:#E1E5E8;
    color:#000000;
    text-decoration:none;
    background-image:none;
}

td.TblActTdLst_sun4
{
    background-color: transparent;
}

table.Tbl_sun4 td.TblActTdLst_sun4
{
    text-align:left;
    color:#FFFFFF;
    background-color:#FF3333;
    font-weight:normal;
    border:1px solid #FF3333;
    height:16px;
}
.TblActTdLst_sun4 tr td {
    padding-top:1px;
    padding-bottom:1px;
    padding-left:1px;
    padding-right:1px;
}

/*Titulo de la tabla*/
table.Tbl_sun4 caption.TblTtlTxt_sun4
{
    -moz-border-radius-topleft:0px;
    -moz-border-radius-topright:0px;
    background:none;
    text-align:left;
    color:#FFFFFF;
    background-color:#FF3333;
    font-weight:bold;
    padding-left:5px;
    border:1px solid #FF3333;
    height:20px;
}

table.Tbl_sun4
{
    border-style:solid;
    border-width:1px;
    empty-cells:show;
    padding:0px;
    width:100%;
}

table.Tbl_sun4 td
{
    background-color: transparent;
}

.TblTtlTxt_sun4
{
    text-align:left;
    color:#FFFFFF;
    background-color:#FF3333;
    font-weight:bold;
    padding-left:5px;
    border:1px solid #FF3333;
    height:20px;
}

.Tbl_sun4
{
    background-color: transparent;
    border-color:#35556A #8C8F91 #8C8F91;
    color:#000000;
}

.pare
{
    background-color:#ffffff;
}
.none
{
    background-color:#FFF2F2
}

.table2_sun4 .header_sun4 th a span {background-image:url(../images/table2/down_arrow.png);background-position:right;background-repeat:no-repeat;}
.table2_sun4 .header_sun4 th a span {background-image:url(../images/table2/down_arrow.png);background-position:right;background-repeat:no-repeat;}
.table2_sun4 .header_sun4 th a.Hyp_sun4:hover {background:#CAD0D2 none top left repeat-x;}
.table2_sun4 .header_sun4 th a.Hyp_sun4:hover {background:#CAD0D2 none top left repeat-x;}
.table2_sun4 .tip_sun4 {background:#DBE5ED none top left repeat-x;border-top-color:#758B9B;border-right-color:#9CB6C7;border-bottom-color:#CADDED;border-left-color:#9CB6C7;}
.table2_sun4 .title_sun4 {color:#FFFFFF;background:#386787 none top left repeat-x;}
table.MniTabTbl_sun4 td {border-color:#80929B;background:#FCFFFF url(../images/tabs/minitab_deselect.jpg) left top repeat-x;}
table.MniTabTbl_sun4 td.MniTabTblSelTd_sun4 {background:#FFFFFF url(../images/tabs/minitab_selected.jpg) left top repeat-x;border-color:#80929B;}
table.Tab3TblNew_sun4 td {border-bottom-color:#80929B;background:#FCFFFF url(../images/tabs/level3_deselect.jpg) left top repeat-x;}


table.Tbl_sun4 a.TblHdrLnk_sun4:link, table.Tbl_sun4 a.TblHdrLnk_sun4:visited {background-color:#E1E5E8;background-position: center top;color:#000000;text-decoration:none; background-image:none;}
table.Tbl_sun4 a.TblHdrLnk_sun4:link, table.Tbl_sun4 a.TblHdrLnk_sun4:visited {background-repeat:repeat-x;background-position:center top;}
table.Tbl_sun4 a.TblHdrLnk_sun4:link, table.Tbl_sun4 a.TblHdrLnk_sun4:visited {display:block;padding:3px 0 3px 5px;}
table.Tbl_sun4 a.TblHdrLnk_sun4:link, table.Tbl_sun4 a.TblHdrLnk_sun4:visited {font-weight:bold; text-align:center;}

table.Tbl_sun4 .TblHdrTxt_sun4
{
    background:none repeat-x scroll center #EEEEEE;
    color:#000000;
    text-decoration:none;
    text-align:center;
}


table.Tbl_sun4 a.TblHdrImgLnk_sun4:link, table.Tbl_sun4 a.TblHdrImgLnk_sun4:visited
{
    background-image:none;
    background-color:#EEEEEE;
}

.Btn2_sun4, .Btn2Mni_sun4
{
    background-image:none;
}

table.Tbl_sun4 a.TblHdrImgLnk_sun4:link, table.Tbl_sun4 a.TblHdrImgLnk_sun4:visited
{
    background-color:#E1E5E8;
    background-image:none;
    border-left-color:#CAD0D2;
    color:#336699;
    text-decoration:none;
}

#form1
{
    color:#666666;
}

.escondido
{
    display:none;
}

a.Hyp_sun4 {
    font-family: Verdana;
    font-size: 10px;
    font-weight:bold;
    color: #666666;
}
a.Hyp_sun4:link, a.Hyp_sun4:visited, a.Hyp_sun4:active {
    color: #666666;
    text-decoration: none;
}
a.Hyp_sun4:hover {
    text-decoration: underline;
    color: #999999;
}
